section.inner-portfolio-section
  .main-wrapper.main-wrapper--p
    .toggler-tabs
      .toggler-tab.toggler-tab--active(data-item="1") Примеры наших работ
      .toggler-tabs__btn.toggler-btn
      .toggler-tab(data-item="2") Наши ткани
    .toggler-content-tabs
      .toggler-content-tab.toggler-content-tab--active(data-item="1")
        .inner-portfolio-slider
          .inner-portfolio-slide
            .inner-portfolio-slide__inner(style="background-image: url(img/zebra-blinds-inner/inner-portfolio/inner-portfolio-1.jpg)")
          .inner-portfolio-slide
            .inner-portfolio-slide__inner(style="background-image: url(img/zebra-blinds-inner/inner-portfolio/inner-portfolio-2.jpg)")
          .inner-portfolio-slide
            .inner-portfolio-slide__inner(style="background-image: url(img/zebra-blinds-inner/inner-portfolio/inner-portfolio-3.jpg)")
          .inner-portfolio-slide
            .inner-portfolio-slide__inner(style="background-image: url(img/zebra-blinds-inner/inner-portfolio/inner-portfolio-1.jpg)")
      .toggler-content-tab(data-item="2")
        .home-portfolio-tabs-layout
          .home-portfolio-tabs
            .home-portfolio-tabs__item.home-portfolio-tabs__item--active(data-item="1") Однотонные
            .home-portfolio-tabs__item(data-item="2") Текстурные
            .home-portfolio-tabs__item(data-item="3") С рисунком
        .home-portfolio-content-tabs
          .home-portfolio-content-tabs__item.home-portfolio-content-tabs__item--active(data-item="1")
            .pleated-fabric-catalog
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__hit ХИТ
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--1
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--2
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--3
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
          .home-portfolio-content-tabs__item(data-item="2")
            .pleated-fabric-catalog
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__hit ХИТ
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--1
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--2
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--3
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
          .home-portfolio-content-tabs__item(data-item="3")
            .pleated-fabric-catalog
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__hit ХИТ
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--1
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--2
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--3
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
              .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
                .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
                .pleated-fabric-catalog-item__zoom
                .pleated-fabric-catalog-item__footer
                  .pleated-fabric-catalog-item__price 957 грн
                  a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
