section.inner-about-section
  .main-wrapper.main-wrapper--p
    .inner-about
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/zebra-blinds-inner/inner-about/inner-about-1.jpg)")
          .inner-about-item__video-btn.video-btn
            i
        .inner-about-item__content
          h2.inner-about-item__title Прекрасно оберегают ваш сон и сон детей, защищает от любопытных глаз с улицы
          p.inner-about-item__text
            | Секрет в особом механизме. С его помощью легко регулировать уровень освещенности. Делаем «режим день» и шторы пропускают солнечный свет, одновременно полностью скрывая помещение от прохожих. Переключаем на «режим ночь» и всё погружается в полную темноту. Солнце, фанари и уличный шум вам больше не страшны.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/zebra-blinds-inner/inner-about/inner-about-2.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Создайте неповторимый дизайн окна
          .inner-about-item__text
            | Прозрачные и плотные слои ткани действительно оригинально сочетаются.
            br
            br
            | Например, на кухню подойдет сочетание оттенок хвои или осенней листвы с постельными тонами. А для спальни выигрышным будут полосы имитирующие разные материалы.
            br
            | Хорошо сочетаются модные оттенки: бирюзовый и белый, пудра и розовый, желтый и фиолетовый тон.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/zebra-blinds-inner/inner-about/inner-about-3.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Эта штора вас будет радовать и через 10 лет
          p.inner-about-item__text
            | Край ткани обработан горячим ножом французского производства , что не дает со временем растрепываться краям.
            br
            br
            | Механизм Vegas, алюминиевый вал внутри системы и АВС пластик обеспечивают не только приятный внешний вид, но и продлевают срок эксплуатации.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/zebra-blinds-inner/inner-about/inner-about-4.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Практичны — легко чистятся, не мнутся, не требуют глажки и не вызывают аллергии
          p.inner-about-item__text
            | Ткань пропитана акрилом, антистатическими и пылеотталкивающими средствами, защищая ее от загрязнений и выгорания.
            br
            br
            | Полосы плотных штор изготавливаются из полиэстера и натуральных материалов: шелка, льна. Прозрачные состоят из тюля или сетки.

section.btn-section
  .main-wrapper
    a(href="#").btn Вызвать<br> замерщика-дизайнера