section.section.about-1-section
  .main-wrapper.main-wrapper--p

    .about-1
      .about-1__left
        .about-1-content
          h3.subtitle.about-1-content__subtitle Рольставни могут быть
          h2.title.about-1-content__title самой мощной системой защиты от опытных взломщников
          p.text.about-1-content__text
            | Есть 2 вида рольставен — с пенным наполнителем и экструдированные. Пенный взламывается опытными людьми за 2 минуты, экструдированный взломать крайне сложно. Он сделан из двухстенных профилей, изготовленный по бесшовной технологии. С ним закрытое окно уже не пробить камнем. Взломостойкость системы подтверждает сертификат QUALICOAT (Швейцария) и опытом наших клиентов.
            br
            br
            | В закрытом положении блокируется с помощью ригелей, которые устанавливают в нижней ламели.
            br
            | Экструдированный на 40-50% дороже.
          a(href="#").btn.about-1-content__btn хочу, это практично!
      .about-1__right
        .about-1-blocks
          .about-1-block(style="background-image: url(img/shutters/about-1/about-1-block-1.jpg)")
            .about-1-block__text Летом ролеты делают прохладнее помещение на 5 градусов, а зимой экономят до 40%<br> на электроэнергии. Возникает оптимальная температура в помещении. Никакой духоты<br> и выгорания мебели.
          .about-1-block(style="background-image: url(img/shutters/about-1/about-1-block-2.jpg)")
            .about-1-block__text Выдерживается ветер до 37 м/с. Поглощает уличный шум, снижая уровень звука до 35дБ — это как очень тихий разговор.
          .about-1-block(style="background-image: url(img/shutters/about-1/about-1-block-3.jpg)")
            .about-1-block__text Во время пожара роллеты можно легко снять и спастись. В отличии от решёток.
