section.section.intro-offer-section
  .main-wrapper.main-wrapper--p
    .intro-offer.intro-offer--green
      .intro-offer__left
        .intro-offer__thumb(style="background-image: url(img/shutters/intro-offer/intro-offer-thumb.jpg)")
        .intro-offer__left-top
          h1.title-big.intro-offer__title Рольставни
          h2.subtitle.intro-offer__subtitle Установите превосходную систему защиты от взломов<br> и непогоды.
        .intro-offer__left-bottom
          .video-btn
            i
            p Все роллеты прошли испытания и получили сертификат качества ряда компаний Европы. Производятся на немецком оборудовании.
      .intro-offer__right
        header.intro-offer__header
          .intro-offer__header-left
            .intro-offer__header-left-top
              .stars
                .star
                .star
                .star
                .star
                .star.star--empty
              h3.intro-offer__price-old от 45 585 грн.
            .intro-offer__header-left-bottom
              h2.intro-offer__price от <span>38 508</span> грн.
          .intro-offer__header-right
            .intro-offer__discount
              .intro-offer__discount-text Вызвать<br> замерщика-дизайнера
              .intro-offer__discount-amount Скидка  до 30%
        .intro-offer__main
          p.intro-offer__text
            | Роллета — это полотно, состоящее из горизонтальных алюминиевых профилей, ламелей. Закрывает проем окна или двери. Идеальное решение для коттеджей, магазинов и бутиков, офисов, торговых центров, кафе и ресторанов.
            br
            br
            | Двойное лакокрасочное полиуретановое покрытие с интегрированными частицами полиамида толщиной 30 мкм работает до 5 000 циклов открытия-закрытия без потёртостей металла. Это минимум 5 лет службы. Подтверждено протоколами испытаний BASF Coating (Германия) и AkzoNobel (Швеция).
            br
            br
            | А направляющие шины и концевой профиль имеет высокий класс защиты R5, 5 мм. Вы можете быть полностью спокойны за безопасность помещения.
        footer.intro-offer__footer
          ul.intro-offer__advantages
            li.intro-offer__advantages-item
              img(src="img/common/intro-offer/intro-offer-advantages-1-green.svg")
              p Бесплатный замер  и бесплатный монтаж
            li.intro-offer__advantages-item
              img(src="img/common/intro-offer/intro-offer-advantages-2-green.svg")
              p Фабричная гарантия<br>  на ткань и механизмы — 1 год
            li.intro-offer__advantages-item
              img(src="img/common/intro-offer/intro-offer-advantages-3-green.svg")
              p Возможен экспресс-вызов замерщика

