.home-about-2 {
 background: url(../img/common/ornament-2.svg) no-repeat top -30px left ;
}

.home-about-2-main {
 display: flex;

 .home-about-2-main__left {
  flex: 1;
  padding: 160px 170px 110px 135px;
 }

 .home-about-2-main__right {
  width: 435px;
  position: relative;

  .home-about-2-main__right-image {
   content: '';
   width: 485px;
   height: 100%;
   background: url(../img/home/about-2/home-about-2-right.jpg) no-repeat center / cover;
   position: absolute;
   top: 0;
   left: 0;
  }
 }

 .home-about-2-main__right-text {
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.02em;
  padding: 20px 40px 20px 30px;
  position: absolute;
  bottom: 0;
  left: 0;
 }

 .home-about-2-main__title {

 }
 .home-about-2-main__subtitle {
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #018DBD;
 }
 .home-about-2-main__text {
  line-height: 140%;
  letter-spacing: 0.02em;
  margin-top: 30px;
  position: relative;
  &:before {
   content: '';
   width: 35px;
   height: 23px;
   background: url(../img/common/quote-icon.svg) no-repeat center / contain;
   position: absolute;
   top: -5px;
   left: -26px;
   z-index: 0;
  }

  a {
   color: #018DBD;
   &:hover {
    color: #018DBD;
   }
  }
 }

 .home-about-2-main__btn {
  margin-top: 26px;
 }

 .home-about-2-main__signature {
  width: 141px;
  height: 84px;
  background: url(../img/about/founder/founder-signature.png) no-repeat center / contain;
  margin-top: 20px;
 }
}