.home-products {
 box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
 padding: 25px 0 42px;
 margin-bottom: 48px;
 position: relative;

 .home-products__title {

 }
 .home-products__subtitle {
  margin: 3px 0 30px;
 }

 .home-products__btn {
  width: 300px;
  display: block;
  margin: 42px auto 0;
 }

 .home-products--1 {

  > .main-wrapper {

  }
 }
}

.home-products-list {
 display: flex;
 flex-wrap: wrap;
 position: relative;
 @include mobile {
  width: 400px;
  left: calc(50% - 200px);
 }

 .home-products-slide {
  margin-bottom: 6px;
 }
}

.home-products-slider {
 width: 1200px;
 margin: 0 auto;
 position: relative;

 &:not(.home-products-slider--lg) {
  @include tablet-mobile {
   left: calc(50% - 600px);
  }

  .slick-arrow {

   &.slick-prev {
    @include tablet {
     left: 350px;
    }
    @include mobile {
     left: 370px;
    }
   }
   &.slick-next {
    @include tablet {
     right: 350px;
    }
    @include mobile {
     right: 370px;
    }
   }
  }
 }
 &.home-products-slider--lg {
  @include tablet {
   width: 710px;
  }
  @include mobile {
   width: 400px;
   left: calc(50% - 200px);
  }
 }
}

.home-products-slide {
 width: 400px;
 padding: 0 3px;
 @include mobile {
  width: 100%;
 }

 @include desktop-tablet {

  &.home-products-slide--lg {
   width: 600px;

   .home-products-slide-inner {
    height: 600px;

    .home-products-slide-inner__top {
     padding: 43px 20px 0 58px;

     &.home-products-slide-inner__top--1 {
      padding: 36px 47px 0;
     }
    }

    .home-products-slide-inner__title-big {
     min-height: 75px;
    }

    .home-products-slide-inner__title {
     width: 425px;
    }

    .home-products-slide-inner__bottom {
     min-height: 123px;
    }
   }
  }
 }

 &.home-products-slide--green {

  .home-products-slide-inner .home-products-slide-inner__title-big:before {
   background: #3CB54B;
  }
 }
}

.home-products-slide-inner {
 height: 425px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 border: 1px solid #4F4F4F;
 background: no-repeat center / cover;

 .home-products-slide-inner__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 28px 10px 0 46px;

  &.home-products-slide-inner__top--1 {
   padding: 24px 17px 0;
  }
 }

 .home-products-slide-inner__bottom {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.85);
  text-align: center;
  padding: 12px 25px 16px;
 }

 .home-products-slide-inner__title {
  width: 260px;
  height: 60px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 254, 0.85);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #000000;
  padding: 10px 20px 10px 60px;
  position: relative;
  @include mobile {
   font-size: 14px;
  }
 }

 .home-products-slide-inner__title-big {
  width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 254, 0.85);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #000000;
  padding: 12px 30px;
  position: relative;
  overflow: hidden;
  &:before {
   content: '';
   width: 100%;
   height: 3px;
   background: #FFA200;
   position: absolute;
   bottom: 0;
   left: 0;
  }
 }

 .home-products-slide-inner__price {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  background: #E60D36;
  position: absolute;
  top: -5px;
  left: -29px;

  p {
   width: 100%;
   font-weight: 700;
   font-size: 12px;
   line-height: 14px;
   text-align: center;
   text-transform: none;
   letter-spacing: 0.02em;
   color: #FFFFFF;
  }
 }

 .stars {
  margin-top: 26px;
 }

 .home-products-slide-inner__description {
  flex: 1;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #454545;
 }
 .home-products-slide-inner__btn {
  margin: 10px auto 0;
 }
}