section.inner-about-section
  .main-wrapper.main-wrapper--p
    .inner-about.inner-about--green
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/marquises-horizontal/inner-about/inner-about-1.jpg)")
          .inner-about-item__video-btn.video-btn.video-btn--download.video-btn--green
            i
            p Посмотреть<br> сертификаты качества
        .inner-about-item__content
          h2.inner-about-item__title Легко управлять наклоном маркизы, угол выброса до 135 градусов!
          p.inner-about-item__text
            | «Локти» позволяют выдвигать передний профиль, натягивая ткань полотна. Пока ткань сворачивается, ткань не провисает, а равномерно наматывается на стальной вал.
            br
            br
            | Регулируйте уровень затемнения даже в небольших оконных проемах. При этом вы будете отлично видеть, что происходит за окном.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/marquises-elbow/inner-about/inner-about-2.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Самая долговечная и надёжная в использовании
          .inner-about-item__text
            | Полукруглые заслонки с козырьком из алюминия или акрилового стекла обеспечивают защиту от дождя, солнца, ветра и любой непогоды.
            br
            br
            | Невероятную устойчивость гарантируют четыре точки крепления.
            br
            br
            | Более 10 лет эксплуатации.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/marquises-elbow/inner-about/inner-about-3.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Эти маркизы невероятно престижны
          p.inner-about-item__text
            | Они встречаются по всей Европе. Особенно востребованы в тех помещениях, что выходят на улицу — офисы, бары, торговые центры, балконные проёмы и коммерческие фасады.
            br
            br
            | Можно размещать на ткани стильную рекламу и другие коммерческие предложения.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/marquises-elbow/inner-about/inner-about-4.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Более 30 разных оттенков ткани, покрытых наночастицами
          p.inner-about-item__text
            | Большой выбор расцветок ткани, которым не страшно выгорание на солнце. Устойчивы к влаге. Защищены от пыли и грязи благодаря антистатическим свойствам ткани. Пропускают воздух. Есть система самоочищения.
            br
            br
            | Наночастицы придают водо и маслоотталкивающие свойства. У такой ткани иммунитет к образованию плесени и грибка.
section.btn-section
  .main-wrapper
    a(href="#").btn Вызвать<br> замерщика-дизайнера