section.section.home-reviews.home-reviews--certificates
  .main-wrapper.main-wrapper--p
    ul.certificates
      li.certificates__item(style="background-image: url(img/home/reviews/certificate-1.jpg)")
      li.certificates__item(style="background-image: url(img/home/reviews/certificate-2.jpg)")
      li.certificates__item(style="background-image: url(img/home/reviews/certificate-3.jpg)")
      li.certificates__item(style="background-image: url(img/home/reviews/certificate-4.jpg)")
      li.certificates__item(style="background-image: url(img/home/reviews/certificate-5.jpg)")
      li.certificates__item(style="background-image: url(img/home/reviews/certificate-6.jpg)")
      li.certificates__item(style="background-image: url(img/home/reviews/certificate-7.jpg)")
      li.certificates__item(style="background-image: url(img/home/reviews/certificate-8.jpg)")
