section.section.section-consultation
  .main-wrapper
    h2.title Приходите к нам за консультацией.
    h3.subtitle
      | У нас больше 800 тканей, есть из чего выбрать.
      br
      span А ещё мы заварим вам ароматный кофе :)
    h3.text Звоните и бронируйте удобное время:
    .phone-call-2
      a(href="#") +38 (097) 367 50 50


