footer.main-footer
  .main-footer-top
    .main-wrapper
      .main-footer-bottom__left
        .main-footer-about
          .main-footer-about__header
            .main-footer-about__image(style="background-image: url(img/common/kruzhkova-photo.jpg)")
            h2.main-footer-about__name Евгения<br> Кружкова
          .main-footer-about__main
            p.main-footer-about__text
              | Уверена, вы чертовски устали.
              br
              br
              | Устали выбирать из сотен компаний, которые  в Харьковской области продают жалюзи, шторы, окна и ворота.
              br
              br
              | Устали от их обещаний  и заверений о том,  что они лучшие.
              br
              br
              | Мы же хотим разобраться, насколько наше представление  о качестве совпадает с вашим.
              br
              br
              | И поймем мы это прямо сейчас...
            a(href="#").main-footer-about__link Прочитать дальше
      .main-footer-bottom__right
        .main-footer-bottom__right-row-1
          ul.main-footer-diplomas
            li.main-footer-diplomas__item(style="background-image: url(img/common/diploma-1.jpg)")
            li.main-footer-diplomas__item(style="background-image: url(img/common/diploma-2.jpg)")
            li.main-footer-diplomas__item(style="background-image: url(img/common/diploma-3.jpg)")
          .main-footer-info
            .main-footer-info__item.main-footer-info__item--phone
              .main-footer-info__item-icon
              a(href="#").main-footer-info__item-text +38(057)-751-75-07
            .main-footer-info__item.main-footer-info__item--time
              .main-footer-info__item-icon
              p.main-footer-info__item-text Пн-Вс: с 9.00 до 20.00
            .main-footer-info__item.main-footer-info__item--pin
              .main-footer-info__item-icon
              p.main-footer-info__item-text Шоу-румы
        .main-footer-bottom__right-row-2
          ul.main-footer-list
            li.main-footer-list__item
              h2 Посмотрите, как мы можем вам помочь
              a(href="#") О нас
              a(href="#") Акции
              a(href="#") Работы и отзывы
              a(href="#") Юридическим лицам
              a(href="#") Сервис
              a(href="#") Контакты
            li.main-footer-list__item
              h2 Внутренние солнцезащитные системы
              a(href="#") Горизонтальные жалюзи
              a(href="#") Рулонные шторы
              a(href="#") Рулонные шторы День-Ночь
              a(href="#") Рулонные шторы 3D-Shade
              a(href="#") Римские шторы
              a(href="#") Шторы Плиссе
              a(href="#") Вертикальные жалюзи
              a(href="#") Деревянные жалюзи
              a(href="#") Мансардные рулонные шторы
            li.main-footer-list__item
              h2 Наружные солнцезащитные системы
              a(href="#") Маркиза ковшовая
              a(href="#") Маркиза горизонтальная
              a(href="#") Маркиза с падающим локтем
              a(href="#") Рефлексол
              a(href="#") Рольставни
              a(href="#") Перголы
            li.main-footer-list__item
              h2 Секционные<br> ворота
              a(href="#") Секционные ворота
              h2 Пластиковые<br> окна
              a(href="#") Пластиковые окна
  .main-footer-bottom
    .main-wrapper
      p.main-footer-bottom__text
        b © 2014-2019, Свитанок. Все права защищены.
      .main-footer-bottom__links
        a(href="#") Пользовательское соглашение
      p.main-footer-bottom__text Полное или частичное копирование материалов запрещено, при согласованном использовании материалов необходима активная ссылка на ресурс.

include popups/cart
include popups/popup-offer
include popups/popup-cloth
include popups/popup-price
include scripts.jade
