section.section.portfolio-1-section
  .main-wrapper.main-wrapper--p
    h2.title А какая из наших работ вам нравится больше всего?
    h3.subtitle За 10 лет мы установили более 2 000 штор и жалюзи

    .portfolio-1
      .portfolio-1__item(style="background-image: url(img/home/portfolio/home-portfolio-image-2.jpg)")
      .portfolio-1__item(style="background-image: url(img/home/portfolio/home-portfolio-image-2.jpg)")
      .portfolio-1__item.portfolio-1__item--lg(style="background-image: url(img/home/portfolio/home-portfolio-image-1.jpg)")
      .portfolio-1__item(style="background-image: url(img/home/portfolio/home-portfolio-image-2.jpg)")
      .portfolio-1__item(style="background-image: url(img/home/portfolio/home-portfolio-image-2.jpg)")
      .portfolio-1__item.portfolio-1__item--lg(style="background-image: url(img/home/portfolio/home-portfolio-image-1.jpg)")
      .portfolio-1__item.portfolio-1__item--lg(style="background-image: url(img/home/portfolio/home-portfolio-image-1.jpg)")
      .portfolio-1__item(style="background-image: url(img/home/portfolio/home-portfolio-image-2.jpg)")
      .portfolio-1__item(style="background-image: url(img/home/portfolio/home-portfolio-image-2.jpg)")
