script(src='js/intlTelInput.min.js' type='text/javascript')
script(src='js/slick.min.js' type='text/javascript')

script.
  $(function () {
    // removing l.sep symbol
    $("body").children().each(function () {
      $(this).html($(this).html().replace(/&#8232;/g, " "));
    });

    // smooth scroll on anchors
    $(document).on('click', '.link-smooth', function (event) {
      event.preventDefault();
      $('html, body').animate({
        scrollTop: $($(this).attr('href')).offset().top + 10
      }, 1500);
    });

    //popup link
    $("body").click(function () {
      hidePopup();
    });
    $(".popup, .popup-link").click(function (e) {
      e.stopPropagation();
    });

    $('.popup__close').click(function () {
      hidePopup();
    });

    //phone flags
    $("input[type=tel]").intlTelInput({
      utilsScript: 'js/utils.js',
      defaultCountry: 'auto',
      separateDialCode: false,
      nationalMode: false,
      initialCountry: 'auto',
      geoIpLookup: function (callback) {
        $.get("https://ipinfo.io", function () {
        }, "jsonp").always(function (resp) {
          var countryCode = (resp && resp.country) ? resp.country : "";
          callback(countryCode);
        });
      },
      preferredCountries: ['ua', 'ru', 'by', 'kz']
    });

    // basic tabs change
    changeTabs('tab', 'content-tab');

    // products slider
    $('.home-products-slider--md').slick({
      adaptiveHeight: true,
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      arrows: true,
      dots: false
    });
    $('.home-products-slider--lg').slick({
      adaptiveHeight: true,
      infinite: true,
      slidesToShow: 2,
      slidesToScroll: 1,
      arrows: true,
      dots: false
    });

    // banner slider
    $('.banner-slider').slick({
      adaptiveHeight: true,
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: true,
      dots: true
    });

    // measurement slider
    $('.advantages-slider').slick({
      adaptiveHeight: true,
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: true,
      dots: true
    });

    // showroom slider
    $('.showroom-slider').slick({
      adaptiveHeight: true,
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: true,
      dots: false
    });

    // quantity/number input
    $('.quantity__minus').click(function(){
      $quantityNum = $(this).closest('.quantity').find('.quantity__number');
      if ($quantityNum.val() > 1) {
        $quantityNum.val(+$quantityNum.val() - 1);
      }
    });
    $('.quantity__plus').click(function(){
      $quantityNum = $(this).closest('.quantity').find('.quantity__number');
      $quantityNum.val(+$quantityNum.val() + 1);
    });

    // toggler btn toggle
    $('.toggler-btn').click(function () {
      $(this).toggleClass('toggler-btn--right');
    });

    // toogler tabs script
    $('.toggler-tab').click(function () {
      if (!$(this).hasClass('toggler-tab--active')) {
        $('.toggler-tabs__btn').toggleClass('toggler-btn--right');
      }
    });
    changeTabs('toggler-tab', 'toggler-content-tab');
    $('.toggler-tabs__btn').click(function () {
      $('.toggler-tab').toggleClass('toggler-tab--active');
      $('.toggler-content-tab').toggleClass('toggler-content-tab--active');
    });

    // portfolio change tabs
    changeTabs('home-portfolio-tabs__item', 'home-portfolio-content-tabs__item');

    // inner portfolio slider
    $('.inner-portfolio-slider').slick({
      adaptiveHeight: true,
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      arrows: true,
      dots: false
    });

    // calculator choose tab
    changeTabs('calculator-choose-tab', 'calculator-choose-content-tab');

    // calculator item slider
    $('.calculator-choose-item-slider').slick({
      adaptiveHeight: true,
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      centerPadding: '0px',
      arrows: true,
      dots: false,
      asNavFor: '.calculator-choose-item-nav-slider'
    });
    // calculator item slider
    $('.calculator-choose-item-nav-slider').slick({
      adaptiveHeight: true,
      infinite: true,
      slidesToShow: 6,
      slidesToScroll: 1,
      centerPadding: '0px',
      arrows: false,
      dots: false,
      asNavFor: '.calculator-choose-item-slider',
      focusOnSelect: true
    });
  });


  function showPopup(popupId) {
    $(popupId).fadeIn(400);
  }
  function hidePopup() {
    $('.popup-layout').fadeOut(400);
    $('.popup-video').find('iframe').remove();
  }

  function showVideoPopup(videoId) {
    showPopup('#popup-video');
    $('.popup-video .popup-video__video').html('').append('<iframe width="100%" height="100%" src="https://www.youtube.com/embed/' + videoId + '?rel=0&amp&autoplay=1;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>');
  }

  function changeTabs(tabClass, contentClass) {
    $('.' + tabClass).click(function () {
      if (!$(this).hasClass(tabClass + '--active') && !$(this).hasClass(tabClass + '--disabled')) {
        $('.' + tabClass + '--active').removeClass(tabClass + '--active');
        $(this).addClass(tabClass + '--active');
        $('.' + contentClass + '--active').removeClass(contentClass + '--active');
        $('.' + contentClass + '[data-item=' + $(this).data("item") + ']').addClass(contentClass + '--active');
        $('.slick-slider').slick('reinit');
      }
    })
  }