section.section.common-about
  .main-wrapper.main-wrapper--p
    .common-about-main
      .common-about-main__image(style="background-image: url(img/roman-blinds/about/about-image.jpg)")
      .common-about-main__content
        h2.title Легко ли мыть римские шторы?
        p
          | Эти шторы действительно практически не собирают пыль. Да и трогать руками их не нужно, ведь есть удобное подъёмное устройство. Поэтому весь уход сводится к сухой очистке пылесосом или щеткой.
          br
          br
          | А если вы захотите их постирать, то можно это сделать в обычной стиральной машине, в деликатном режиме, предварительно вынув рейки.
