section.section.blinds-description-section(style="background-image: url(img/roman-blinds/description/description-thumb.jpg)")
 .main-wrapper.main-wrapper--p
  .blinds-description.blinds-description--2
   h2.title С римскими шторами вы создадите уникальное авторское решение
   h3.subtitle как это делают лучшие европейские дизайнеры
   .hr-left
   p
    | И дело тут не только в наличии 200 тканей с разными фактурами и расцветками под любой интерьер. Римские шторы хорошо сочетаются с обычными раздвижными шторами и ламбрекенами — это открывает возможность создавать тысячи невероятных комбинаций...
    br
    br
    | Тогда римские шторы выполняют затемняющую функцию, а классические — декоративную.