section.section.intro-offer-section
  .main-wrapper.main-wrapper--p
    .intro-offer
      .intro-offer__left
        .intro-offer__thumb(style="background-image: url(img/roman-blinds/intro-offer/intro-offer-thumb.jpg)")
        .intro-offer__left-top
          h1.title-big.intro-offer__title римские шторы
          h2.subtitle.intro-offer__subtitle Сотворите атмосферу тепла и комфорта с «воздушными» шторами. Современное решение для современных интерьеров.
        .intro-offer__left-bottom
          .video-btn
            i
            p Богатый выбор материалов и цветовых решений! Штора легко вписываются в любое стилистическое оформление интерьера.
      .intro-offer__right
        header.intro-offer__header
          .intro-offer__header-left
            .intro-offer__header-left-top
              .stars
                .star
                .star
                .star
                .star
                .star.star--empty
              h3.intro-offer__price-old от 2 588 грн.
            .intro-offer__header-left-bottom
              h2.intro-offer__price от <span>2 090</span> грн.
          .intro-offer__header-right
            .intro-offer__discount
              .intro-offer__discount-text Вызвать<br> замерщика-дизайнера
              .intro-offer__discount-amount Скидка  до 30%
        .intro-offer__main
          p.intro-offer__text
            | Римские шторы занимают минимум полезного пространства, как в сложенном, так и в разложенном виде. Поэтому очень привлекательны для небольших комнат.
            br
            br
            | Скромные размеры помогают сэкономить деньги — для пошива нам требуется в 2 раза меньше тканей, чем на стандартные портьеры.
            br
            br
            | Римские шторы не собирают пыль и просты в уходе. Уют и практичность в одной шторе! Они отлично защищают от солнца — для солнечных комнат можно выбрать ткань поплотнее, для более тёмных подойдут полупрозрачные.
            br
            br
            | В распущенном виде мягкие и ровные складки делают штору элегантной, тёплой и уютной.
        footer.intro-offer__footer
          ul.intro-offer__advantages
            li.intro-offer__advantages-item
              img(src="img/common/intro-offer/intro-offer-advantages-1.svg")
              p Бесплатный замер  и бесплатный монтаж
            li.intro-offer__advantages-item
              img(src="img/common/intro-offer/intro-offer-advantages-2.svg")
              p Фабричная гарантия<br>  на ткань и механизмы — 1 год
            li.intro-offer__advantages-item
              img(src="img/common/intro-offer/intro-offer-advantages-3.svg")
              p Возможен экспресс-вызов замерщика

