section.section.common-about.common-about--2
  .main-wrapper.main-wrapper--p
    .common-about-main
      .common-about-main__image(style="background-image: url(img/vertical-blinds/about/vertical-blinds-about-image.jpg)")
        .video-btn
          i
          p Достаточно поместить ламели в тёплую воду с мыльным раствором. Очищенные влажные ламели подвешивают к карнизу.
      .common-about-main__content
        h2.title Как ухаживать за вертикальными жалюзи?
        p
          | Жалюзи пропитаны мощным пылеотталкивающим раствором, совершенно безопасным для людей и животных. Поэтому в первые годы достаточно протирать их сухой чистой тряпкой. Ламели тут широкие — это помогает сокращать время уборки. Жалюзи очищать от пыли можно и пылесосом.
          br
          br
          | Но нельзя отправлять их в стиральную машину — это убьёт защитную пропитку. Достаточно снять ламели (это сделать элементарно) и поместить их в тёплую воду с мыльным раствором. Без агрессивных чистящих средств. Очищенные влажные ламели подвешивают к карнизу.
