section.section.blinds-description-section(style="background-image: url(img/vertical-blinds/description/description-thumb.jpg)")
 .main-wrapper.main-wrapper--p
  .blinds-description
   h3.subtitle Если требуется что-то необычное,
   h2.title закажите мультифактурные вертикальные жалюзи
   .hr-left
   p Сочетайте самые разные фактуры и оттенки и создавайте необычные рисунки, арки, узоры, волны, оптические иллюзии. Нижний край ламелей может быть закруглённым, острым, скошенны
   a(href="#").btn хочу такую красоту!