section.section.intro-offer-section
  .main-wrapper.main-wrapper--p
    .intro-offer
      .intro-offer__left
        .intro-offer__thumb(style="background-image: url(img/vertical-blinds/intro-offer/intro-offer-thumb.jpg)")
        .intro-offer__left-top
          h1.title-big.intro-offer__title вертикальные жалюзи
          h2.subtitle.intro-offer__subtitle Устройте дома и в офисе уютную атмосферу за разумные деньги.
        .intro-offer__left-bottom
          .video-btn
            i
            p Есть модели жалюзи, которые подходят и для больших окон, арок из-за бо́льшей ширины ламели.
      .intro-offer__right
        header.intro-offer__header
          .intro-offer__header-left
            .intro-offer__header-left-top
              .stars
                .star
                .star
                .star
                .star
                .star.star--empty
              h3.intro-offer__price-old от 2 555 грн.
            .intro-offer__header-left-bottom
              h2.intro-offer__price от <span>1 255</span> грн.
          .intro-offer__header-right
            .intro-offer__discount
              .intro-offer__discount-text Вызвать<br> замерщика-дизайнера
              .intro-offer__discount-amount Скидка  до 30%
        .intro-offer__main
          p.intro-offer__text
            | Управляйте уровнем освещенности и потоками воздуха, поворачивая тканевые полоски на 180 градусов. Можно рассеять свет, создать полумрак или полностью закрыться от всего постороннего.
            br
            br
            | Ткань пожароустойчива и не выгорает на солнце. Легко моется, обладает пыле- и грязеотталкивающими свойствами. Износостойкая. Пыль достаточно протирать тряпкой, а мыть в мыльном растворе.
            br
            br
            | Жалюзи не боятся проветривания, что очень удобно в жаркий день. Пропускают воздух даже в закрытом состоянии.
            br
            br
            | Механизмом очень легко управлять — сдвигаются ламели веревкой, а поворчиваются цепочкой. Из-за простоты конструкции и качественных материалов, вертикальные жалюзи служат очень долго.
        footer.intro-offer__footer
          ul.intro-offer__advantages
            li.intro-offer__advantages-item
              img(src="img/common/intro-offer/intro-offer-advantages-1.svg")
              p Бесплатный замер  и бесплатный монтаж
            li.intro-offer__advantages-item
              img(src="img/common/intro-offer/intro-offer-advantages-2.svg")
              p Фабричная гарантия<br>  на ткань и механизмы — 1 год
            li.intro-offer__advantages-item
              img(src="img/common/intro-offer/intro-offer-advantages-3.svg")
              p Возможен экспресс-вызов замерщика

