section.section.vertical-blinds-about-section
  .main-wrapper
    .vertical-blinds-about
      .vertical-blinds-about__content
        h3.subtitle Вы можете в любое время
        h2.title заменить одну или несколько ламелей без полной замены изделия
        .hr-left
        p.text То есть, если вам надоест цвет, фактура ламели или вы случайно её повредите, ничего страшного. Заменить ламелю очень дёшево и займёт меньше минуты. Менять эти шалюзи полностью можно хоть несколько раз в год!
      .vertical-blinds-about__thumb
