section.section.about-1-section
  .main-wrapper.main-wrapper--p

    .about-1
      .about-1__left
        .about-1-content
          h2.title.about-1-content__title Совершенная конструкция гаражных ворот и покрытие высочайшего качества
          p.text.about-1-content__text
            | Морозостойкие уплотнители из EPDM защищают от холода и шума, сохраняют температурный режим. А толщина стального полотна в 45мм защищает от сильных ветров. К тому же роликовые кронштейны надёжно регулируют примыкание сэндвич-панелей к проёму.
            br
            br
            | Получается, все щели и отверстия ворот закрыты — это дополнилнительная забота о ваших пальцах. Всё это полностью соответствует европейским стандартам EN12604 и EN12450.
            br
            br
            | В месте крепления саморезов используется 4 слоя металла — у панели никогда не будет расслоения при резком опускании ворот.
          a(href="#").btn.about-1-content__btn хочу, это удобно!
      .about-1__right
        .about-1-blocks
          .about-1-block(style="background-image: url(img/sectional-doors/about-1/about-1-block-1.jpg)")
            .about-1-block__text Из-за дождей вода может скапливаться на воротах. Для защиты от коррозии ставятся высококачественные пластиковые основания угловых стоек. Плюс наносится полиуретановое покрытие с частицами полиамида. Адгезионный лак препятствует вздутию панели.
          .about-1-block(style="background-image: url(img/sectional-doors/about-1/about-1-block-2.jpg)")
            .about-1-block__text Бесшумное движение ворот — применяем специальные ролики с подшипниками. Они гарантируют долговечность механизма.
          .about-1-block(style="background-image: url(img/sectional-doors/about-1/about-1-block-3.jpg)")
            .about-1-block__text Большой выбор дизайнерского оформления и цвета — можете украсить любую территорию или фасад здания.
