section.section.sectional-doors-automatic-section
  .main-wrapper.main-wrapper--p
    h2.title Автоматика для секционных ворот
    h3.subtitle Комфортное управление, надежность и долговечность.

    .sectional-doors-automatic
      .sectional-doors-automatic-item
        .sectional-doors-automatic-item__thumb(style="background-image: url(img/sectional-doors/automatic/sectional-doors-automatic-item-1.jpg)")
          h2.sectional-doors-automatic-item__title aN-motors
        .sectional-doors-automatic-item__main
          .sectional-doors-automatic-item__about
            h2 AN-Motors ASG1000/4KIT
            h3 Базовый состав комплекта:
            p Электропривод со встроенным блоком управления и радиоприёмником — 1 шт.;
            p Пульт д/у 4-канальный — 2 шт.;
            p Рейка с цепью ASGR3-L — 4,2 м
          .sectional-doors-automatic-item__functions
            h3 Основные функции:
            p Точность остановки ворот в конечных положениях;
            p Плавный старт и плавная остановка полотна ворот;
            p Настройка времени паузы до автозакрытия;
            p Функция обнаружения препятствия
            p Защита от несанкционированного открытия ворот.
        .sectional-doors-automatic-item__footer
          h3.sectional-doors-automatic-item__price 1 999 <span>грн.</span>
          button.sectional-doors-automatic-item__add-btn добавить в корзину
      .sectional-doors-automatic-item
        .sectional-doors-automatic-item__thumb(style="background-image: url(img/sectional-doors/automatic/sectional-doors-automatic-item-2.jpg)")
          h2.sectional-doors-automatic-item__title nice
        .sectional-doors-automatic-item__main
          .sectional-doors-automatic-item__about
            h2 Nice SPIN22 KCE
            h3 Базовый состав комплекта:
            p Электропривод со встроенным блоком управления и радиоприёмником — 1 шт.;
            p Пульт д/у 4-канальный — 2 шт.;
            p Рейка с цепью ASGR3-L — 4,2 м
          .sectional-doors-automatic-item__functions
            h3 Основные функции:
            p Точность остановки ворот в конечных положениях;
            p Плавный старт и плавная остановка полотна ворот;
            p Настройка времени паузы до автозакрытия;
            p Функция обнаружения препятствия
            p Защита от несанкционированного открытия ворот.
        .sectional-doors-automatic-item__footer
          h3.sectional-doors-automatic-item__price 2 999 <span>грн.</span>
          button.sectional-doors-automatic-item__add-btn добавить в корзину
      .sectional-doors-automatic-item
        .sectional-doors-automatic-item__thumb(style="background-image: url(img/sectional-doors/automatic/sectional-doors-automatic-item-3.jpg)")
          h2.sectional-doors-automatic-item__title Marantec
        .sectional-doors-automatic-item__main
          .sectional-doors-automatic-item__about
            h2 Marantec Comfort 380
            h3 Базовый состав комплекта:
            p Электропривод со встроенным блоком управления и радиоприёмником — 1 шт.;
            p Пульт д/у 4-канальный — 2 шт.;
            p Рейка с цепью ASGR3-L — 4,2 м
          .sectional-doors-automatic-item__functions
            h3 Основные функции:
            p Точность остановки ворот в конечных положениях;
            p Плавный старт и плавная остановка полотна ворот;
            p Настройка времени паузы до автозакрытия;
            p Функция обнаружения препятствия
            p Защита от несанкционированного открытия ворот.
        .sectional-doors-automatic-item__footer
          h3.sectional-doors-automatic-item__price 3 999 <span>грн.</span>
          button.sectional-doors-automatic-item__add-btn добавить в корзину

