section.section.intro-offer-section
  .main-wrapper.main-wrapper--p
    .intro-offer.intro-offer--violet
      .intro-offer__left
        .intro-offer__thumb(style="background-image: url(img/sectional-doors/intro-offer/intro-offer-thumb.jpg)")
        .intro-offer__left-top
          h1.title-big.intro-offer__title Секционные гаражные ворота
          h2.subtitle.intro-offer__subtitle защитите свой гараж от взлома и осадков минимум на 17 лет. Защиту можно сравнить с кирпичной стеной 60см.
        .intro-offer__left-bottom
          .video-btn
            i
            p Каждое окно комплектуется с армирующим профилем — наши окна сохраняются долгие годы даже при сильнейших внешних нагрузках
      .intro-offer__right
        header.intro-offer__header
          .intro-offer__header-left
            .intro-offer__header-left-top
              .stars
                .star
                .star
                .star
                .star
                .star.star--empty
              h3.intro-offer__price-old от 45 585 грн.
            .intro-offer__header-left-bottom
              h2.intro-offer__price от <span>38 508</span> грн.
          .intro-offer__header-right
            .intro-offer__discount
              .intro-offer__discount-text Вызвать<br> замерщика-дизайнера
              .intro-offer__discount-amount Скидка  до 30%
        .intro-offer__main
          p.intro-offer__text
            | Ворота по сути — это сэндвич-панели, которые соединяются секциями со стальным полотном.
            br
            br
            | Толщиной они 45 мм — это даже больше, чем стандартные панели в Европе. Поэтому такую теплопроводность мы сравнили с кирпичной стеной толщиной 60 см. Качество подтверждено независимой экспертизой лаборатории Rosenheim GmbH (Германия).
            br
            br
            | Ресурс пружин — 25 000 циклов подъема-опускания. Если перевести в осязаемые цифры, то это 17 лет службы с расчётом открывания по 4 раза каждый день. Хотя, конечно, ворота будут работать и через гораздо бо́льший срок.
            br
            br
            | Можем монтировать в любых проемах.
        footer.intro-offer__footer
          ul.intro-offer__advantages
            li.intro-offer__advantages-item
              img(src="img/common/intro-offer/intro-offer-advantages-1-violet.svg")
              p Бесплатный замер  и бесплатный монтаж
            li.intro-offer__advantages-item
              img(src="img/common/intro-offer/intro-offer-advantages-2-violet.svg")
              p Фабричная гарантия<br>  на ткань и механизмы — 1 год
            li.intro-offer__advantages-item
              img(src="img/common/intro-offer/intro-offer-advantages-3-violet.svg")
              p Возможен экспресс-вызов замерщика

