section.section.services-section.services-section--2
  .main-wrapper.main-wrapper--p
    h2.title Дополнительные возможности
    .services.services--violet
      .services-item(style="background-image: url(img/sectional-doors/services/services-item-1.jpg)")
        h2.services-item__title Калитка в полотне
        .services-item__text При встраивании калитки в секционные ворота, ее полотно выполняется так же из сэндвич-панелей
      .services-item(style="background-image: url(img/sectional-doors/services/services-item-2.jpg)")
        h2.services-item__title замок
        .services-item__text Замок ригельный для гаражных секционных ворот. Предназначен для запирания гаражных ворот.
      .services-item(style="background-image: url(img/sectional-doors/services/services-item-3.jpg)")
        h2.services-item__title встроенные ворота
        .services-item__text Способ установки ворот, при котором не требуются боковые и верхние перемычки и ворота устанавливаются внутри проема.
      .services-item(style="background-image: url(img/sectional-doors/services/services-item-4.jpg)")
        h2.services-item__title боковая дверь
        .services-item__text Единое стилевое оформление ворот и боковой двери обеспечивает гармоничный вид фасадам зданий.
      .services-item(style="background-image: url(img/sectional-doors/services/services-item-5.jpg)")
        h2.services-item__title автоматическая разблокировка
        .services-item__text При встраивании калитки в секционные ворота, ее полотно выполняется так же из сэндвич-панелей
      .services-item(style="background-image: url(img/sectional-doors/services/services-item-6.jpg)")
        h2.services-item__title электропривод
        .services-item__text Электроприводы для секционных ворот делают эксплуатацию гаражных ворот удобной и комфортной.

    a(href="#").btn.services-btn показать еще
