section.section.sectional-doors-types-2-section
  .main-wrapper.main-wrapper--p
    h2.title.sectional-doors-types-2-title-mobile Виды секционных<br class="br-sm"> гаражных ворот
    .sectional-doors-types-2-layout
      .sectional-doors-types-2-left
        .sectional-doors-types-2-left-header
          h2.subtitle.sectional-doors-types-2-title
            b Виды секционных гаражных ворот
        .sectional-doors-types-2-item
          h2 Показатели теплоизоляции
        .sectional-doors-types-2-item
          h2 Стойкость<br> к коррозии
        .sectional-doors-types-2-item
          h2 Герметичность
        .sectional-doors-types-2-item
          h2 Варианты<br> дизайна
        .sectional-doors-types-2-item
          h2 Бесшумность
        .sectional-doors-types-2-item-footer
          h2 Стоимость

      .sectional-doors-types-2-main
        .sectional-doors-types-2-main__col
          .sectional-doors-types-2-main-header
            .sectional-doors-types-2-main-header__thumb(style="background-image: url(img/sectional-doors/types-2/sectional-doors-types-2-item-1.jpg)")
              h2.sectional-doors-types-2-main-header__title Prestige
            h2 Ворота PRESTIGE
            h3 Ворота уникального конструктива и премиального качества
          .sectional-doors-types-2-item
            h2 Показатели теплоизоляции
            p
              b Толщина сэндвич-панели 45 мм
            p теплоизоляция сопоставима с теплопроводностью кирпичной стены 60 см. Идеально для Крайнего Севера и Северной Европы
          .sectional-doors-types-2-item
            h2 Стойкость к коррозии
            p
              b Нержавеющая сталь
            p элементы полотна выполнены из нержавеющей стали и имеют повышенную стойкость к коррозии
          .sectional-doors-types-2-item
            h2 Герметичность
            p
              b Уплотнители с 2 лепестками по бокам и в верхней части ворот
            p эластичные морозоустойчивые уплотнители для еще большей защиты от осадков и сквозняков
          .sectional-doors-types-2-item
            h2 Варианты дизайна
            p
              b Эксклюзивные цвета и индивидуальные принты
            p помимо 10 базовых цветов и покраски по каталогам RAL и DB, доступно нанесение индивидуальных рисунков на полотно
          .sectional-doors-types-2-item
            h2 Бесшумность
            p
              b Кронштейны с двойными роликами
            p еще более плавная и бесшумная работа за счет 2 роликов с подшипниками качения
          .sectional-doors-types-2-item-footer
            h3.sectional-doors-types-2-item-price 15 000 <span>грн.</span>
            a(href="#").btn.sectional-doors-types-2-item-btn заказать
        .sectional-doors-types-2-main__col
          .sectional-doors-types-2-main-header
            .sectional-doors-types-2-main-header__thumb(style="background-image: url(img/sectional-doors/types-2/sectional-doors-types-2-item-2.jpg)")
              h2.sectional-doors-types-2-main-header__title trend
            h2 Ворота TREND
            h3 Экономичное решение в отличном качестве исполнения
          .sectional-doors-types-2-item
            h2 Показатели теплоизоляции
            p
              b Толщина сэндвич-панели 40 мм
            p теплоизоляция сопоставима с теплопроводностью кирпичной стены 55 см
          .sectional-doors-types-2-item
            h2 Стойкость к коррозии
            p
              b Оцинкованная сталь
            p элементы полотна выполнены из устойчивой к коррозии оцинкованной стали
          .sectional-doors-types-2-item
            h2 Герметичность
            p
              b Уплотнители с 1 лепестком по бокам и в верхней части ворот
            p эластичные морозоустойчивые уплотнители для защиты от осадков и сквозняков
          .sectional-doors-types-2-item
            h2 Варианты дизайна
            p
              b Широкая палитра стандартных цветов
            p до 10 стандартных оттенков, окраска по каталогам RAL и DB (опция)
          .sectional-doors-types-2-item
            h2 Бесшумность
            p
              b Кронштейны с одинарными роликами
            p плавность работы за счет роликов с подшипниками качения
          .sectional-doors-types-2-item-footer
            h3.sectional-doors-types-2-item-price 9 999 <span>грн.</span>
            a(href="#").btn.sectional-doors-types-2-item-btn заказать


