section.section.sectional-doors-types-section
  .main-wrapper.main-wrapper--p
    h2.title Виды панелей
    h3.subtitle Воплотите свои самые смелые дизайнерские идеи!

    .sectional-doors-types-slider
      .sectional-doors-types-slide
        .sectional-doors-types-item
          .sectional-doors-types-item__thumb(style="background-image: url(img/sectional-doors/types/sectional-doors-types-item-1.jpg)")
            h2.sectional-doors-types-item__title микроволна
          .sectional-doors-types-item__materials
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-1.jpg)")
              h3.sectional-doors-types-item__material-name Махонный<br> дуб
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-2.jpg)")
              h3.sectional-doors-types-item__material-name Иерихонский тополь
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-3.jpg)")
              h3.sectional-doors-types-item__material-name Необычная сосна
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-4.jpg)")
              h3.sectional-doors-types-item__material-name Очень высокая березка
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-5.jpg)")
              h3.sectional-doors-types-item__material-name Роскошная ольха
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-6.jpg)")
              h3.sectional-doors-types-item__material-name Молодая калина
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-7.jpg)")
              h3.sectional-doors-types-item__material-name Светло-серая тополь
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-8.jpg)")
              h3.sectional-doors-types-item__material-name Тёмный матовый дуб
      .sectional-doors-types-slide
        .sectional-doors-types-item
          .sectional-doors-types-item__thumb(style="background-image: url(img/sectional-doors/types/sectional-doors-types-item-2.jpg)")
            h2.sectional-doors-types-item__title s гофр
          .sectional-doors-types-item__materials
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-1.jpg)")
              h3.sectional-doors-types-item__material-name Махонный<br> дуб
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-2.jpg)")
              h3.sectional-doors-types-item__material-name Иерихонский тополь
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-3.jpg)")
              h3.sectional-doors-types-item__material-name Необычная сосна
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-4.jpg)")
              h3.sectional-doors-types-item__material-name Очень высокая березка
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-5.jpg)")
              h3.sectional-doors-types-item__material-name Роскошная ольха
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-6.jpg)")
              h3.sectional-doors-types-item__material-name Молодая калина
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-7.jpg)")
              h3.sectional-doors-types-item__material-name Светло-серая тополь
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-8.jpg)")
              h3.sectional-doors-types-item__material-name Тёмный матовый дуб
      .sectional-doors-types-slide
        .sectional-doors-types-item
          .sectional-doors-types-item__thumb(style="background-image: url(img/sectional-doors/types/sectional-doors-types-item-3.jpg)")
            h2.sectional-doors-types-item__title m гофр
          .sectional-doors-types-item__materials
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-1.jpg)")
              h3.sectional-doors-types-item__material-name Махонный<br> дуб
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-2.jpg)")
              h3.sectional-doors-types-item__material-name Иерихонский тополь
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-3.jpg)")
              h3.sectional-doors-types-item__material-name Необычная сосна
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-4.jpg)")
              h3.sectional-doors-types-item__material-name Очень высокая березка
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-5.jpg)")
              h3.sectional-doors-types-item__material-name Роскошная ольха
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-6.jpg)")
              h3.sectional-doors-types-item__material-name Молодая калина
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-7.jpg)")
              h3.sectional-doors-types-item__material-name Светло-серая тополь
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-8.jpg)")
              h3.sectional-doors-types-item__material-name Тёмный матовый дуб
      .sectional-doors-types-slide
        .sectional-doors-types-item
          .sectional-doors-types-item__thumb(style="background-image: url(img/sectional-doors/types/sectional-doors-types-item-1.jpg)")
            h2.sectional-doors-types-item__title микроволна
          .sectional-doors-types-item__materials
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-1.jpg)")
              h3.sectional-doors-types-item__material-name Махонный<br> дуб
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-2.jpg)")
              h3.sectional-doors-types-item__material-name Иерихонский тополь
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-3.jpg)")
              h3.sectional-doors-types-item__material-name Необычная сосна
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-4.jpg)")
              h3.sectional-doors-types-item__material-name Очень высокая березка
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-5.jpg)")
              h3.sectional-doors-types-item__material-name Роскошная ольха
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-6.jpg)")
              h3.sectional-doors-types-item__material-name Молодая калина
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-7.jpg)")
              h3.sectional-doors-types-item__material-name Светло-серая тополь
            .sectional-doors-types-item__material
              .sectional-doors-types-item__material-thumb(style="background-image: url(img/sectional-doors/types/material-8.jpg)")
              h3.sectional-doors-types-item__material-name Тёмный матовый дуб

