section.section.common-about
  .main-wrapper.main-wrapper--p
    .common-about-main
      .common-about-main__image(style="background-image: url(img/roller-blinds/about/roller-blinds-about-image.jpg)")
        .video-btn
          i
          p Сейчас мы испачаем их подсолнечным маслом и будем чистить!
      .common-about-main__content
        h2.title Легко ли мыть рулонные шторы?
        p Ткань пропитана акрилом, пылеотталкивающими и антистатическими средствами, защищая ее от загрязнений.
