section.section.products-section
  .main-wrapper.main-wrapper--p

    .home-products-list
      .home-products-slide.home-products-slide--lg
        a(href="#").home-products-slide-inner(style="background-image: url(img/roller-blinds/products/product-item-01-01.jpg)")
          .home-products-slide-inner__top.home-products-slide-inner__top--1
            h2.home-products-slide-inner__title-big Классические рулонные шторы
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Почему эта штора будет радовать вас и через 10 лет?
            .btn.home-products-slide-inner__btn Подробнее
      .home-products-slide.home-products-slide--lg
        a(href="#").home-products-slide-inner(style="background-image: url(img/roller-blinds/products/product-item-01-02.jpg)")
          .home-products-slide-inner__top.home-products-slide-inner__top--1
            h2.home-products-slide-inner__title-big шторы день-ночь
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Почему эта штора будет радовать вас и через 10 лет?
            .btn.home-products-slide-inner__btn Подробнее
      .home-products-slide
        a(href="#").home-products-slide-inner(style="background-image: url(img/roller-blinds/products/product-item-01-03.jpg)")
          .home-products-slide-inner__top.home-products-slide-inner__top--1
            h2.home-products-slide-inner__title-big шторы 3D-SHADE
          .home-products-slide-inner__bottom
            .btn.home-products-slide-inner__btn Подробнее
      .home-products-slide
        a(href="#").home-products-slide-inner(style="background-image: url(img/roller-blinds/products/product-item-01-04.jpg)")
          .home-products-slide-inner__top.home-products-slide-inner__top--1
            h2.home-products-slide-inner__title-big шторы ROMAN STYLE
          .home-products-slide-inner__bottom
            .btn.home-products-slide-inner__btn Подробнее
      .home-products-slide
        a(href="#").home-products-slide-inner(style="background-image: url(img/roller-blinds/products/product-item-01-05.jpg)")
          .home-products-slide-inner__top.home-products-slide-inner__top--1
            h2.home-products-slide-inner__title-big Мансардные шторы
          .home-products-slide-inner__bottom
            .btn.home-products-slide-inner__btn Подробнее
