section.section.indoor-sun-protection-products
  .main-wrapper.main-wrapper--p
    .home-products-list
      .home-products-slide
        a(href="#").home-products-slide-inner(style="background-image: url(img/home/products/home-products-item-01-01.jpg)")
          .home-products-slide-inner__top
            h2.home-products-slide-inner__title Вертикальные жалюзи
              .home-products-slide-inner__price
                p от<br> 2 588 грн
            .stars
              .star
              .star
              .star
              .star
              .star.star--empty
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Устройте дома и в офисе уютную атмосферу  за разумные деньги.
            .btn.home-products-slide-inner__btn Подробнее
      .home-products-slide
        a(href="#").home-products-slide-inner(style="background-image: url(img/home/products/home-products-item-01-02.jpg)")
          .home-products-slide-inner__top
            h2.home-products-slide-inner__title рулонные шторы
              .home-products-slide-inner__price
                p от<br> 2 588 грн
            .stars
              .star
              .star
              .star
              .star
              .star.star--empty
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Воплотите свои самые смелые дизайнерские идеи. Добавьте красоты.
            .btn.home-products-slide-inner__btn Подробнее
      .home-products-slide
        a(href="#").home-products-slide-inner(style="background-image: url(img/home/products/home-products-item-01-03.jpg)")
          .home-products-slide-inner__top
            h2.home-products-slide-inner__title шторы плиссе
              .home-products-slide-inner__price
                p от<br> 2 588 грн
            .stars
              .star
              .star
              .star
              .star
              .star.star--empty
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Идеальное решение для тех, кто привык брать самое лучшее.
            .btn.home-products-slide-inner__btn Подробнее
      .home-products-slide
        a(href="#").home-products-slide-inner(style="background-image: url(img/home/products/home-products-item-01-03.jpg)")
          .home-products-slide-inner__top
            h2.home-products-slide-inner__title шторы плиссе
              .home-products-slide-inner__price
                p от<br> 2 588 грн
            .stars
              .star
              .star
              .star
              .star
              .star.star--empty
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Идеальное решение для тех, кто привык брать самое лучшее.
            .btn.home-products-slide-inner__btn Подробнее
      .home-products-slide
        a(href="#").home-products-slide-inner(style="background-image: url(img/home/products/home-products-item-01-03.jpg)")
          .home-products-slide-inner__top
            h2.home-products-slide-inner__title шторы плиссе
              .home-products-slide-inner__price
                p от<br> 2 588 грн
            .stars
              .star
              .star
              .star
              .star
              .star.star--empty
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Идеальное решение для тех, кто привык брать самое лучшее.
            .btn.home-products-slide-inner__btn Подробнее
      .home-products-slide
        a(href="#").home-products-slide-inner(style="background-image: url(img/home/products/home-products-item-01-03.jpg)")
          .home-products-slide-inner__top
            h2.home-products-slide-inner__title шторы плиссе
              .home-products-slide-inner__price
                p от<br> 2 588 грн
            .stars
              .star
              .star
              .star
              .star
              .star.star--empty
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Идеальное решение для тех, кто привык брать самое лучшее.
            .btn.home-products-slide-inner__btn Подробнее
      .home-products-slide
        a(href="#").home-products-slide-inner(style="background-image: url(img/home/products/home-products-item-01-03.jpg)")
          .home-products-slide-inner__top
            h2.home-products-slide-inner__title шторы плиссе
              .home-products-slide-inner__price
                p от<br> 2 588 грн
            .stars
              .star
              .star
              .star
              .star
              .star.star--empty
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Идеальное решение для тех, кто привык брать самое лучшее.
            .btn.home-products-slide-inner__btn Подробнее
      .home-products-slide
        a(href="#").home-products-slide-inner(style="background-image: url(img/home/products/home-products-item-01-03.jpg)")
          .home-products-slide-inner__top
            h2.home-products-slide-inner__title шторы плиссе
              .home-products-slide-inner__price
                p от<br> 2 588 грн
            .stars
              .star
              .star
              .star
              .star
              .star.star--empty
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Идеальное решение для тех, кто привык брать самое лучшее.
            .btn.home-products-slide-inner__btn Подробнее
      .home-products-slide
        a(href="#").home-products-slide-inner(style="background-image: url(img/home/products/home-products-item-01-03.jpg)")
          .home-products-slide-inner__top
            h2.home-products-slide-inner__title шторы плиссе
              .home-products-slide-inner__price
                p от<br> 2 588 грн
            .stars
              .star
              .star
              .star
              .star
              .star.star--empty
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Идеальное решение для тех, кто привык брать самое лучшее.
            .btn.home-products-slide-inner__btn Подробнее
