section.inner-about-section
  .main-wrapper.main-wrapper--p
    .inner-about
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/horizontal-isolite-blinds/inner-about/inner-about-1.jpg)")
          .inner-about-item__video-btn.video-btn
            i
        .inner-about-item__content
          h2.inner-about-item__title Монтируются вплотную к стеклопакету, окно полностью открывается для проветривания
          p.inner-about-item__text
            | Это позволяет нижнему краю жалюзи в наклонном положении не болтаться в воздухе на сквозняке. Крепление не мешает открыванию окна и не перекрывает доступ к ручке.
            br
            br
            | А ещё подоконник остаётся полностью свободным — ставьте туда цветы или любые другие личные вещи.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/horizontal-isolite-blinds/inner-about/inner-about-2.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Более 48 вариантов цветовой гаммы жалюзи
          p.inner-about-item__text
            | Вы точно подберёте тот цвет, который будет идеально гармонировать с интерьером вашей комнаты или офиса.
            br
            br
            | В этом поможет и разнообразный дизайн поверхности — металлик, матовый, глянцевый, мрамор, «под дерево».
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/horizontal-isolite-blinds/inner-about/inner-about-3.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Идеальный внешний вид — разрабатывали для окон европейского стандарта
          p.inner-about-item__text
            | Аккуратный практически плоский карниз жалюзи и ламели идущие строго в пределах светового проёма окна выглядят эргономично и стильно.
            br
            br
            | Небольшие крепления аккуратно выглядят и не портят внешний вид окна.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/horizontal-isolite-blinds/inner-about/inner-about-4.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Управляйте жалюзи одной цепочкой
          p.inner-about-item__text
            | Регулируйте угол поворота жалюзи, их высоту, собиранием или опускание.
            br
            br
            | В отличии от других жалюзи, с неудобными несколькими канатиками для управления.

section.btn-section
  .main-wrapper
    a(href="#").btn Вызвать<br> замерщика-дизайнера