section.section.home-about-1
  .main-wrapper.main-wrapper--p
    .home-about-1-main
      .home-about-1-main__left
        .home-about-1-main__left-image
        h2.home-about-1-main__title О компании
        .home-about-1-main__video-btn.video-btn
          i
          p Посмотрите, на наши  передовые технологии
      .home-about-1-main__right
        .home-about-1-main__btns
          a(href="#").btn.btn--md.btn--transparent производство
          a(href="#").btn.btn--md компания
        h3.home-about-1-main__subtitle Проверим, подходим ли мы друг другу
        p.home-about-1-main__text
          | Уверена, вы чертовски устали. Устали выбирать из сотен компаний, которые продают жалюзи, шторы, окна и ворота. Устали от их обещаний и заверений о том, что они лучшие. Мы же хотим разобраться, насколько наше представление о качестве совпадает с вашим. И поймем мы это прямо сейчас.
          br
          br
          | Судите сами. Мы помогаем клиентам защитить свои квартиры от яркого света,  посторонних взглядов и даже воров, создать уют дома и на работе, благодаря лучшим солнцезащитным системам в мире, которые только смогли найти.
          br
          br
          | За неколько лет мы объездили 67 производств Украины, Белоруссии, России, Франции и Германии. И 63 производства не соответствовали нашим повышенным стандартам. Стандарты — это документ из 287 пунктов, разработанный нашими технологами.
          br
          br
          | В итоге мы сотрудничаем только с 4 производителями. Мы лично несём ответственность за каждый проданный товар. Плюс помогаем производителям сохранять качество на должном уровне.

