section.section.about-catalog-section
  .main-wrapper.main-wrapper--p
    h2.title Вам понравился наш подход к работе?
    h3.subtitle Если «да», то уверен, мы сработаемся :) Выберете раздел, который вам интересен.
    .about-catalog
      .about-catalog__col
        h2.about-catalog-title Внутренние<br> солнцезащитные системы
        a(href="#").about-catalog-item
          .about-catalog-item__thumb(style="background-image: url(img/about/catalog/catalog-item-1-1.jpg)")
          .about-catalog-item__content
            h2.about-catalog-item__name Горизонтальные жалюзи / изолайт
            h3.about-catalog-item__link Подробнее
        a(href="#").about-catalog-item
          .about-catalog-item__thumb(style="background-image: url(img/about/catalog/catalog-item-1-2.jpg)")
          .about-catalog-item__content
            h2.about-catalog-item__name Вертикальные жалюзи
            h3.about-catalog-item__link Подробнее
        a(href="#").about-catalog-item
          .about-catalog-item__thumb(style="background-image: url(img/about/catalog/catalog-item-1-3.jpg)")
          .about-catalog-item__content
            h2.about-catalog-item__name Деревянные жалюзи
            h3.about-catalog-item__link Подробнее
        a(href="#").about-catalog-item
          .about-catalog-item__thumb(style="background-image: url(img/about/catalog/catalog-item-1-4.jpg)")
          .about-catalog-item__content
            h2.about-catalog-item__name Рулонные шторы
            h3.about-catalog-item__link Подробнее
        a(href="#").about-catalog-item
          .about-catalog-item__thumb(style="background-image: url(img/about/catalog/catalog-item-1-5.jpg)")
          .about-catalog-item__content
            h2.about-catalog-item__name Рулонные шторы день-ночь
            h3.about-catalog-item__link Подробнее
        a(href="#").about-catalog-item
          .about-catalog-item__thumb(style="background-image: url(img/about/catalog/catalog-item-1-6.jpg)")
          .about-catalog-item__content
            h2.about-catalog-item__name Шторы плиссе
            h3.about-catalog-item__link Подробнее
        a(href="#").about-catalog-item
          .about-catalog-item__thumb(style="background-image: url(img/about/catalog/catalog-item-1-7.jpg)")
          .about-catalog-item__content
            h2.about-catalog-item__name Римские шторы
            h3.about-catalog-item__link Подробнее
      .about-catalog__col
        h2.about-catalog-title.about-catalog-title--green Внутренние<br> солнцезащитные системы
        a(href="#").about-catalog-item
          .about-catalog-item__thumb(style="background-image: url(img/about/catalog/catalog-item-2-1.jpg)")
          .about-catalog-item__content
            h2.about-catalog-item__name Маркизы
            h3.about-catalog-item__link Подробнее
        a(href="#").about-catalog-item
          .about-catalog-item__thumb(style="background-image: url(img/about/catalog/catalog-item-2-2.jpg)")
          .about-catalog-item__content
            h2.about-catalog-item__name Рефлексолы
            h3.about-catalog-item__link Подробнее
        a(href="#").about-catalog-item
          .about-catalog-item__thumb(style="background-image: url(img/about/catalog/catalog-item-2-3.jpg)")
          .about-catalog-item__content
            h2.about-catalog-item__name Рольставни
            h3.about-catalog-item__link Подробнее
        a(href="#").about-catalog-item
          .about-catalog-item__thumb(style="background-image: url(img/about/catalog/catalog-item-2-4.jpg)")
          .about-catalog-item__content
            h2.about-catalog-item__name Перголы
            h3.about-catalog-item__link Подробнее
      .about-catalog__col
        h2.about-catalog-title.about-catalog-title--blue Внутренние<br> солнцезащитные системы
        a(href="#").about-catalog-item
          .about-catalog-item__thumb(style="background-image: url(img/about/catalog/catalog-item-3-1.jpg)")
          .about-catalog-item__content
            h2.about-catalog-item__name Окна
            h3.about-catalog-item__link Подробнее
        h2.about-catalog-title.about-catalog-title--violet Внутренние<br> солнцезащитные системы
        a(href="#").about-catalog-item
          .about-catalog-item__thumb(style="background-image: url(img/about/catalog/catalog-item-4-1.jpg)")
          .about-catalog-item__content
            h2.about-catalog-item__name Ворота
            h3.about-catalog-item__link Подробнее

