section.section.home-about-2
  .main-wrapper.main-wrapper--p
    .home-about-2-main
      .home-about-2-main__left
        h2.title.home-about-2-main__title Маргарита Роговцева
        h3.home-about-2-main__subtitle Директор компании «Свитанок»
        p.home-about-2-main__text
          | Для меня действительно важна обратная связь. Обожаю положительные отзывы, но  ещё важнее услышать о наших косяках. Для нас это важно. Это даёт нам шанс исправиться. Стать лучше.
          br
          br
          | Обязательно мне пишите, отвечаю всем.
          br
          a(href="mailto:director@svitanok.kh.ua") director@svitanok.kh.ua
        .home-about-2-main__signature
      .home-about-2-main__right
        .home-about-2-main__right-image
          .home-about-2-main__right-text
            | Это я вместе со своей семьёй.
            br
            br
            | Муж говорит, что работа у меня на первом месте, но на самом деле это не так. И он об этом знает :) Для меня работа — это как второй ребёнок.  Хочется, чтобы он был здоровым, талантливым и умным — одним словом, самым лучшим!
            br
            br
            | И, кажется, он стал именно таким.


