section.section.about-reviews-section
  .main-wrapper.main-wrapper--p
    h2.title Кроме качества продукции мы гордимся еще 2мя вещями
    h3.subtitle Важны ли они для вас также, как и для нас? Сейчас проверим.
  .advantages-slider.slick--dots-1.slick--arrows-1
    .advantages-slide
      .advantages-slide-inner.advantages-slide-inner--2(style="background-image: url(img/about/reviews/reviews-item-1.png)")
        .main-wrapper.main-wrapper--p
          h2.title Сервис, который приятно удивляет
          h3.subtitle <span>«У вас сервис, как у Amazon»</span>. Это цитата. Комплимент от нашего клиента, который 15 лет прожил в США.<br> Это был наш самый недовольный клиент :)
          p
            | Вот как было.
            br
            br
            | Он позвонил, когда рабочий день уже закончился. Мы взяли трубку.
            br
            | На следующий день наш дизайнер уже был у него дома с образцами
            br
            | 800 тканей. Дизайнеры у нас проходят обучение 2 раза в год и опыт
            br
            | работы у каждого больше 5 лет, поэтому ткань подобрали очень быстро.
            br
            br
            | Штора порвалась через три месяца после истечения гарантийного срока. Закон подлости. Такое у нас было впервые. Оказывается, постарался кот клиента. Мы пошли навстречу и заменили штору. После этого мы обновили шторы почти всем его друзьям — теперь это наш самый преданный клиент :)
    .advantages-slide
      .advantages-slide-inner.advantages-slide-inner--2(style="background-image: url(img/about/reviews/reviews-item-1.png)")
        .main-wrapper.main-wrapper--p
          h2.title Сервис, который приятно удивляет
          h3.subtitle <span>«У вас сервис, как у Amazon»</span>. Это цитата. Комплимент от нашего клиента, который 15 лет прожил в США.<br> Это был наш самый недовольный клиент :)
          p
            | Вот как было.
            br
            br
            | Он позвонил, когда рабочий день уже закончился. Мы взяли трубку.
            br
            | На следующий день наш дизайнер уже был у него дома с образцами
            br
            | 800 тканей. Дизайнеры у нас проходят обучение 2 раза в год и опыт
            br
            | работы у каждого больше 5 лет, поэтому ткань подобрали очень быстро.
            br
            br
            | Штора порвалась через три месяца после истечения гарантийного срока. Закон подлости. Такое у нас было впервые. Оказывается, постарался кот клиента. Мы пошли навстречу и заменили штору. После этого мы обновили шторы почти всем его друзьям — теперь это наш самый преданный клиент :)
    .advantages-slide
      .advantages-slide-inner.advantages-slide-inner--2(style="background-image: url(img/about/reviews/reviews-item-1.png)")
        .main-wrapper.main-wrapper--p
          h2.title Сервис, который приятно удивляет
          h3.subtitle <span>«У вас сервис, как у Amazon»</span>. Это цитата. Комплимент от нашего клиента, который 15 лет прожил в США.<br> Это был наш самый недовольный клиент :)
          p
            | Вот как было.
            br
            br
            | Он позвонил, когда рабочий день уже закончился. Мы взяли трубку.
            br
            | На следующий день наш дизайнер уже был у него дома с образцами
            br
            | 800 тканей. Дизайнеры у нас проходят обучение 2 раза в год и опыт
            br
            | работы у каждого больше 5 лет, поэтому ткань подобрали очень быстро.
            br
            br
            | Штора порвалась через три месяца после истечения гарантийного срока. Закон подлости. Такое у нас было впервые. Оказывается, постарался кот клиента. Мы пошли навстречу и заменили штору. После этого мы обновили шторы почти всем его друзьям — теперь это наш самый преданный клиент :)

