section.section.reviews-video-section
  .reviews-video(style="background-image: url(img/about/video/about-video-thumb.png)")
    .reviews-video__play
      .reviews-video__play-btn.video-btn.video-btn--2
        i
      .reviews-video__play-text
        | Приезжайте к нам в шоу-рум.
        span Вам всегда рады. Заодно проверите наш сервис :)
