.popup.popup-cloth {
 padding: 23px 40px 58px;
 @include mobile {
  padding: 25px 15px;
 }
}

.popup-cloth-block {
 display: flex;
 margin-top: 42px;
 @include mobile {
  flex-direction: column;
  margin-top: 30px;
 }

 .popup-cloth-block__image {
  width: 270px;
  height: 270px;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  background: no-repeat center / cover;
  margin-right: 35px;
  position: relative;
  @include mobile {
   width: 100%;
   margin: 0 0 20px;
  }

  .popup-cloth-block__image-type {
   width: 216px;
   height: 54px;
   display: flex;
   align-items: center;
   justify-content: center;
   background: rgba(255, 255, 255, 0.8);
   border-radius: 5px 5px 0 0;
   font-size: 22px;
   line-height: 30px;
   letter-spacing: 0.03em;
   position: absolute;
   bottom: 0;
   left: calc(50% - 108px);

   .popup-cloth-block__image-type-icon {
    width: 25px;
    height: 25px;
    background: no-repeat center / contain;
    margin-right: 12px;
   }
  }
 }

 .popup-cloth-block__content {
  flex: 1;
  padding-top: 26px;
 }

 p {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.03em;
  margin-top: 9px;
 }

 .popup-cloth-block__btns {
  margin-top: 45px;
  @include mobile {
   margin-top: 30px;
  }

  .btn {
   margin-bottom: 14px;
   @include mobile {
    width: 100%;
    margin-bottom: 10px;
   }
   &:last-child {
    margin-bottom: 0;
   }
  }
 }
}