section.inner-about-section
  .main-wrapper.main-wrapper--p
    .inner-about
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/horizontal-aluminum-blinds/inner-about/inner-about-1.jpg)")
          .inner-about-item__video-btn.video-btn.video-btn--download
            i
            p Посмотреть<br> сертификаты качества
        .inner-about-item__content
          h2.inner-about-item__title Гарантия качества от польского производителя
          p.inner-about-item__text
            | Качество подтверждено сертификатами.
            br
            br
            | Эти жалюзи пожаробезопасны. Устойчивы к влажности, перепадам температуры и внешним повреждениям. Не выцветают. Не требуют специального ухода. Удобны в управлении
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/horizontal-aluminum-blinds/inner-about/inner-about-2.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Более 48 вариантов цветовой гаммы жалюзи
          p.inner-about-item__text
            | Вы точно подберёте тот цвет, который будет идеально гармонировать с интерьером вашей комнаты или офиса.
            br
            br
            | В этом поможет и разнообразный дизайн поверхности — металлик, матовый, глянцевый, мрамор, «под дерево».
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/horizontal-aluminum-blinds/inner-about/inner-about-3.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Светопропускная способность снижается<br> на 80-95%. И это легко регулировать.
          p.inner-about-item__text
            | Просто плавно поварачивайте планки (ламели) и уровень освещённости изменится.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/horizontal-aluminum-blinds/inner-about/inner-about-4.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Подходят для любого окна — пластикового, деревянного, мансардного.
          p.inner-about-item__text
            | А всё это благодаря минималистическому дизайну, компактности и универсальной системе крепления.
            br
            br
            | Могут устанавливаться и на поворотно-откидные окна.

section.btn-section
  .main-wrapper
    a(href="#").btn Вызвать<br> замерщика-дизайнера