section.inner-about-section
  .main-wrapper.main-wrapper--p
    .inner-about
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/horizontal-wooden-blinds/inner-about/inner-about-1.jpg)")
          .inner-about-item__video-btn.video-btn
            i
        .inner-about-item__content
          h2.inner-about-item__title Облагораживают любое помещение, создают уют и ощущение теплоты
          p.inner-about-item__text
            | Вписываются в любой интерьер, особенно в классический или кантри. Сочетают традиционность и стильность. Никогда не выйдут из моды.
            br
            br
            | Подтверждают достаток и хороший вкус владельца.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/horizontal-wooden-blinds/inner-about/inner-about-2.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Облагораживают любое помещение, создают уют и ощущение теплоты
          p.inner-about-item__text
            | Вписываются в любой интерьер, особенно в классический или кантри. Сочетают традиционность и стильность. Никогда не выйдут из моды.
            br
            br
            | Подтверждают достаток и хороший вкус владельца.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/horizontal-wooden-blinds/inner-about/inner-about-3.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Облагораживают любое помещение, создают уют и ощущение теплоты
          p.inner-about-item__text
            | Вписываются в любой интерьер, особенно в классический или кантри. Сочетают традиционность и стильность. Никогда не выйдут из моды.
            br
            br
            | Подтверждают достаток и хороший вкус владельца.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/horizontal-wooden-blinds/inner-about/inner-about-4.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Облагораживают любое помещение, создают уют и ощущение теплоты
          p.inner-about-item__text
            | Вписываются в любой интерьер, особенно в классический или кантри. Сочетают традиционность и стильность. Никогда не выйдут из моды.
            br
            br
            | Подтверждают достаток и хороший вкус владельца.

section.btn-section
  .main-wrapper
    a(href="#").btn Вызвать<br> замерщика-дизайнера