section.section.advantages-section
  .advantages-slider.slick--dots-1.slick--arrows-1
    .advantages-slide
      .advantages-slide-inner(style="background-image: url(img/common/advantages/advantages-image-1.jpg)")
        .main-wrapper.main-wrapper--p
          h3.subtitle К вам максимально быстро
          h2.title приедет дизайнер-замерщик<br> с образцами жалюзи
          p Недавно со слезами на глазах к нам пришла отчаявшаяся женщина. Ей срочно нужны были внутренние солнцезащитные системы, но никто не готов был сделать работу за 3 дня. К нам она пришла в 10.00, замер мы сделали в 15.00, а ещё через 2 дня повесили системы, успев всё к сроку.
    .advantages-slide
      .advantages-slide-inner.advantages-slide-inner--center(style="background-image: url(img/common/advantages/advantages-image-2.jpg)")
        .main-wrapper.main-wrapper--p
          h3.subtitle Нам доверяют вешать шторы
          h2.title даже в родительном отделении
          p Вы тоже нам доверитесь, когда увидите,<br>  как наши шторы выглядят через 10 лет использования!
