section.section.intro-offer-section
  .main-wrapper.main-wrapper--p
    .intro-offer
      .intro-offer__left
        .intro-offer__thumb(style="background-image: url(img/horizontal-blinds/intro-offer/intro-offer-thumb.jpg)")
        .intro-offer__left-top
          h1.title-big.intro-offer__title Горизонтальные жалюзи
          h2.subtitle.intro-offer__subtitle Регулируйте погоду в доме и в офисе самым бюджетным способом.
        .intro-offer__left-bottom
          .video-btn
            i
            p За счёт чего удалось НАСТОЛЬКО снизить цену? Весь секрет  в алюминее! Он дешевле тканей, т.к. проще в производстве.
      .intro-offer__right
        header.intro-offer__header
          .intro-offer__header-left
            .intro-offer__header-left-top
              .stars
                .star
                .star
                .star
                .star
                .star.star--empty
              h3.intro-offer__price-old от 2 555 грн.
            .intro-offer__header-left-bottom
              h2.intro-offer__price от <span>1 255</span> грн.
          .intro-offer__header-right
            .intro-offer__discount
              .intro-offer__discount-text Вызвать<br> замерщика-дизайнера
              .intro-offer__discount-amount Скидка до 30%
        .intro-offer__main
          p.intro-offer__text
            | Действительно, это самый дешевый способ защититься от яркого солнца, фонарей, любопытных прохожих и неприятных бликов на экранах.
            br
            br
            | Но этот материал великолепен — он не впитывает запахи и отталкивает пыль, т.к. мы дополнительно наносим антистатическое, антимикробное полиэфирное покрытие. Этот материал не коррозирует, то есть надёжен во влажных помещениях.
            br
            br
            | Наша окраска жалюзи особо стойкая к выгоранию и стиранию. Мы усиливаем прочность стальных карнизов и механизмов управления, благодаря чему жалюзи служат так долго, что успеют вам надоесть.
        footer.intro-offer__footer
          ul.intro-offer__advantages
            li.intro-offer__advantages-item
              img(src="img/common/intro-offer/intro-offer-advantages-1.svg")
              p Бесплатный замер  и бесплатный монтаж
            li.intro-offer__advantages-item
              img(src="img/common/intro-offer/intro-offer-advantages-2.svg")
              p Фабричная гарантия<br>  на ткань и механизмы — 1 год
            li.intro-offer__advantages-item
              img(src="img/common/intro-offer/intro-offer-advantages-3.svg")
              p Возможен экспресс-вызов замерщика

