section.section.products-section
  .main-wrapper.main-wrapper--p

    .home-products-list
      .home-products-slide
        a(href="#").home-products-slide-inner(style="background-image: url(img/horizontal-blinds/products/product-item-01-01.jpg)")
          .home-products-slide-inner__top.home-products-slide-inner__top--1
            h2.home-products-slide-inner__title-big Классические  алюминиевые жалюзи
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Самый распространнённый вид жалюзи.<br> Хотите раскрыть секрет их популярности?
            .btn.home-products-slide-inner__btn Подробнее
      .home-products-slide
        a(href="#").home-products-slide-inner(style="background-image: url(img/horizontal-blinds/products/product-item-01-02.jpg)")
          .home-products-slide-inner__top.home-products-slide-inner__top--1
            h2.home-products-slide-inner__title-big Горизонтальные жалюзи Isolite
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Самые удобные! Хотите посмотреть демонстрацию<br> их сверхудобства?
            .btn.home-products-slide-inner__btn Подробнее
      .home-products-slide
        a(href="#").home-products-slide-inner(style="background-image: url(img/horizontal-blinds/products/product-item-01-03.jpg)")
          .home-products-slide-inner__top.home-products-slide-inner__top--1
            h2.home-products-slide-inner__title-big Горизонтальные  деревянные жалюзи
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Самые экологичные и эстетичные!<br>  Хочу увидеть эту красоту!
            .btn.home-products-slide-inner__btn Подробнее
