extends ../layouts/main

block contents
  include ../partials/header

  .main#3d-blinds-inner
    .breadcrumbs
      .main-wrapper
        a(href="#").breadcrumbs__item Главная
        a(href="#").breadcrumbs__item Внутренние солнцезащитные системы
        p.breadcrumbs__item Горизонтальные жалюзи

    .main-wrapper
      h1.title-big рулонные шторы 3D-SHADE

    include ../pages-partials/3d-blinds-inner/inner-about
    include ../pages-partials/3d-blinds-inner/inner-portfolio
    include ../partials/certificates

  include ../partials/footer

