extends ../layouts/main

block contents
  include ../partials/header

  .main#calculator-plastic-windows
    .breadcrumbs
      .main-wrapper
        a(href="#").breadcrumbs__item Главная
        p.breadcrumbs__item Калькулятор пластиковых окон

    .main-wrapper.main-wrapper--p
      .calculator-windows
        .calculator-windows-header
          .calculator-windows-header__item.calculator-windows-add
            a(href="#").add-dotted-link
              .add-dotted-link__icon +
              .dotted-link Добавить новое окно
          .calculator-windows-header__item.calculator-windows-choose
            .calculator-windows-choose__thumb(style="background-image: url(img/calculator-windows/window-2.svg)")
            .calculator-windows-choose__content
              span Выбрано:
              br
              | Двухстворчатое окно
              br
              | Профиль:
              br
              | Размер: 800 х 1400
          .calculator-windows-header__item.calculator-windows-price
            h3 Стоимость:
            h2 2 090 грн.
          .calculator-windows-header__item.calculator-windows-additional
            .calculator-windows-additional__item <span>Доп. Комплектация:</span> 248 грн
            .calculator-windows-additional__item <span>Доставка:</span> 158 грн
            .calculator-windows-additional__item <span>Монтаж:</span> 589 грн
          .calculator-windows-header__item.calculator-windows-total
            h2.calculator-windows-total__title Итого: <b>2 090 грн.</b>
            a(href="#").btn.btn--2.calculator-windows-total__checkout оформить заказ
        .calculator-windows-main
          .calculator-windows-aside
            .calculator-windows-aside-list
              .calculator-windows-aside-item
                h2.calculator-windows-aside-item__title 1-створчатое
                .calculator-windows-aside-item__thumb(style="background-image: url(img/calculator-windows/window-1.svg)")
              .calculator-windows-aside-item.calculator-windows-aside-item--active
                h2.calculator-windows-aside-item__title 2-створчатое
                .calculator-windows-aside-item__thumb(style="background-image: url(img/calculator-windows/window-2.svg)")
              .calculator-windows-aside-item
                h2.calculator-windows-aside-item__title 3-створчатое
                .calculator-windows-aside-item__thumb(style="background-image: url(img/calculator-windows/window-3.svg)")
              .calculator-windows-aside-item
                h2.calculator-windows-aside-item__title 4-створчатое
                .calculator-windows-aside-item__thumb(style="background-image: url(img/calculator-windows/window-4.svg)")
              .calculator-windows-aside-item
                h2.calculator-windows-aside-item__title 2-створчатое с<br> балконной дверью
                .calculator-windows-aside-item__thumb(style="background-image: url(img/calculator-windows/window-5.svg)")
          .calculator-windows-section
            .calculator-windows-section-main
              .calculator-step-header
                .calculator-step-header__counter
                  .calculator-step-header__counter-current шаг 1
                  .calculator-step-header__counter-total из 2
                h2.subtitle-2.calculator-step-header__title Выберите тип и размер окна
              .calculator-windows-sizes
                .calculator-windows-sizes__top
                  img(src="img/calculator-windows/window-image-1.png").calculator-windows-sizes__image
                  .calculator-windows-sizes__range.calculator-windows-sizes__range--height
                    .calculator-windows-sizes__counter 1000 мм
                    .calculator-windows-sizes__range-input
                      input(type="range" min="0" max="1000")
                .calculator-windows-sizes__range.calculator-windows-sizes__range--width
                  .calculator-windows-sizes__counter 700 мм
                  .calculator-windows-sizes__range-input
                    input(type="range" min="0" max="1000")
              a(href="#").next-dotted-link
                .dotted-link перейти на следующий шаг
                .next-dotted-link__icon

            .calculator-windows-section-aside
              .calculator-windows-additional-block
                h2.subtitle.calculator-windows-additional-block__title
                  b Доп. комплектация
                .formblock.formblock--1
                  .formgroup
                    label Подоконник
                    select.input--sm
                      option Не выбрано
                      option Не выбрано
                  .formgroup
                    label Отлив
                    select.input--sm
                      option Не выбрано
                      option Не выбрано
                  .formgroup
                    .custom-checkbox.custom-checkbox--radio.custom-checkbox--blue
                      input(id="option-1" type="checkbox" name="option-1")
                      label(for="option-1")
                        | Москитная сетка
                        .custom-checkbox__box
                  .formgroup
                    .custom-checkbox.custom-checkbox--radio.custom-checkbox--blue
                      input(id="option-2" type="checkbox" name="option-2")
                      label(for="option-2")
                        | Детский замок
                        .custom-checkbox__box

              .calculator-windows-section-aside
                .calculator-windows-additional-block
                  h2.subtitle.calculator-windows-additional-block__title
                    b Доп. услуги
                  .formblock
                    .formgroup
                      .custom-checkbox.custom-checkbox--radio.custom-checkbox--blue
                        input(id="option-3" type="checkbox" name="option-3")
                        label(for="option-3")
                          | Доставка
                          br
                          span В пределах г. Киев и Киевской обл.
                          .custom-checkbox__box
                    .formgroup
                      .custom-checkbox.custom-checkbox--radio.custom-checkbox--blue
                        input(id="option-4" type="checkbox" name="option-4")
                        label(for="option-4")
                          | Монтаж
                          br
                          span В пределах г. Киев
                          .custom-checkbox__box

      br
      br

      .calculator-windows.calculator-windows--step-2
        .calculator-windows-header
          .calculator-windows-header__item.calculator-windows-add
            a(href="#").add-dotted-link
              .add-dotted-link__icon +
              .dotted-link Добавить новое окно
          .calculator-windows-header__item.calculator-windows-choose
            .calculator-windows-choose__thumb(style="background-image: url(img/calculator-windows/window-2.svg)")
            .calculator-windows-choose__content
              span Выбрано:
              br
              | Двухстворчатое окно
              br
              | Профиль:
              br
              | Размер: 800 х 1400
          .calculator-windows-header__item.calculator-windows-price
            h3 Стоимость:
            h2 2 090 грн.
          .calculator-windows-header__item.calculator-windows-additional
            .calculator-windows-additional__item <span>Доп. Комплектация:</span> 248 грн
            .calculator-windows-additional__item <span>Доставка:</span> 158 грн
            .calculator-windows-additional__item <span>Монтаж:</span> 589 грн
          .calculator-windows-header__item.calculator-windows-total
            h2.calculator-windows-total__title Итого: <b>2 090 грн.</b>
            a(href="#").btn.btn--2.calculator-windows-total__checkout оформить заказ
        .calculator-windows-main
          .calculator-windows-aside
            .calculator-windows-aside-list-2
              .calculator-windows-aside-item-2.calculator-windows-aside-item-2--active BASIC
              .calculator-windows-aside-item-2 standart
              .calculator-windows-aside-item-2 optima
              .calculator-windows-aside-item-2 premium
              .calculator-windows-aside-item-2 design
          .calculator-windows-section
            .calculator-windows-section-main
              .calculator-step-header
                .calculator-step-header__counter
                  .calculator-step-header__counter-current шаг 2
                  .calculator-step-header__counter-total из 2
                h2.subtitle-2.calculator-step-header__title Выберите комлектацию
              .calculator-windows-additional-image
                img(src="img/calculator-windows/window-additional-image-1.png")
              a(href="#").prev-dotted-link
                .dotted-link вернуться на предыдущий шаг
                .prev-dotted-link__icon

            .calculator-windows-section-aside
              .calculator-windows-about-tabs
                .calculator-windows-about-tab.calculator-windows-about-tab--active(data-item="1")
                  h2 Характеристики
                .calculator-windows-about-tab(data-item="2")
                  h2 Описание
              .calculator-windows-about-content-tabs
                .calculator-windows-about-content-tab.calculator-windows-about-content-tab--active(data-item="1")
                  ul.calculator-windows-about-list
                    li.calculator-windows-about-item
                      b Профильная система
                      span ВОС 400
                    li.calculator-windows-about-item
                      b Стеклопакет
                      span 1 кам 7.4
                    li.calculator-windows-about-item
                      b Фурнитура
                      span Axor (Украина)
                    li.calculator-windows-about-item
                      b Энергосбережение
                      span 0,24
                    li.calculator-windows-about-item
                      b Звукоизоляция
                      span 0,27 дба
                    li.calculator-windows-about-item
                      b Солнцезащита
                      span -30%
                  .calculator-windows-about-stats
                    .calculator-windows-about-stats-item
                      .calculator-windows-about-stats-item__title
                        | Теплоизоляция:
                        br
                        | <span>50</span> / 100
                      .calculator-windows-about-stats-item__progress
                        .calculator-windows-about-stats-item__progress-line(style="width: 50%;")
                    .calculator-windows-about-stats-item
                      .calculator-windows-about-stats-item__title
                        | Солнцезащита:
                        br
                        | <span>80</span> / 100
                      .calculator-windows-about-stats-item__progress
                        .calculator-windows-about-stats-item__progress-line(style="width: 80%;")
                    .calculator-windows-about-stats-item
                      .calculator-windows-about-stats-item__title
                        | Шумоизоляция:
                        br
                        | <span>30</span> / 100
                      .calculator-windows-about-stats-item__progress
                        .calculator-windows-about-stats-item__progress-line(style="width: 30%;")
                    .calculator-windows-about-stats-item
                      .calculator-windows-about-stats-item__title
                        | Безопастность:
                        br
                        | <span>80</span> / 100
                      .calculator-windows-about-stats-item__progress
                        .calculator-windows-about-stats-item__progress-line(style="width: 80%;")
                .calculator-windows-about-content-tab(data-item="2")
                  p.calculator-windows-about-text.text-2
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    br
                    br
                    | Curabitur neque justo, maximus accumsan fringilla eu, consequat et velit. Donec egestas, odio ut luctus convallis, nisl velit euismod arcu, ut porta lorem felis sit amet lectus. Praesent et ligula tempor augue feugiat semper vel dictum augue. Proin ut arcu sit amet velit tincidunt luctus.
                    br
                    br
                    | Fusce tincidunt lorem arcu, vitae egestas diam mollis ut. Nam non dolor vehicula, porttitor mi id, vehicula massa. Pellentesque maximus est vel condimentum aliquam. Suspendisse aliquet eros vel nisl malesuada molestie. Nunc pellentesque augue at sapien sodales congue.


      include ../partials/certificates


  include ../partials/footer


  script.
    $(function(){
      // calculator windows about tabs change
      changeTabs('calculator-windows-about-tab', 'calculator-windows-about-content-tab');
    });

