extends ../layouts/main

block contents
  include ../partials/header

  .main#calculator-plastic-windows
    .breadcrumbs
      .main-wrapper
        a(href="#").breadcrumbs__item Главная
        p.breadcrumbs__item Калькулятор пластиковых окон

    include ../pages-partials/calculator-plastic-windows/step-1
    br
    br
    include ../pages-partials/calculator-plastic-windows/step-2

    include ../partials/certificates


  include ../partials/footer


  script.
    $(function(){
      // calculator windows about tabs change
      changeTabs('calculator-windows-about-tab', 'calculator-windows-about-content-tab');
    });

