extends ../layouts/main

block contents
  include ../partials/header

  .main#horizontal-isolite-blinds
    .breadcrumbs
      .main-wrapper
        a(href="#").breadcrumbs__item Главная
        a(href="#").breadcrumbs__item Внутренние солнцезащитные системы
        p.breadcrumbs__item Горизонтальные жалюзи

    .main-wrapper
      h1.title-big Горизонтальные жалюзи Isolite

    include ../pages-partials/horizontal-isolite-blinds/inner-about
    include ../pages-partials/horizontal-isolite-blinds/inner-portfolio
    include ../partials/certificates

  include ../partials/footer

