extends ../layouts/main

block contents
  include ../partials/header

  .main#home
    include ../pages-partials/home/banner
    include ../pages-partials/home/intro
    include ../pages-partials/home/products-1
    include ../pages-partials/home/products-2
    include ../pages-partials/home/products-3
    include ../pages-partials/home/action
    include ../pages-partials/home/portfolio
    include ../pages-partials/home/about-1
    include ../pages-partials/home/about-2
    include ../pages-partials/home/action-2
    include ../pages-partials/home/reviews

  include ../partials/footer
