extends ../layouts/main

block contents
  include ../partials/header

  .main#indoor-sun-protection
    include ../pages-partials/indoor-sun-protection/banner
    include ../pages-partials/indoor-sun-protection/products
    include ../pages-partials/home/action

  include ../partials/footer
