extends ../layouts/main

block contents
  include ../partials/header

  .main#services
    .breadcrumbs
      .main-wrapper
        a(href="#").breadcrumbs__item Главная
        p.breadcrumbs__item Юридическим лицам

    .main-wrapper
      h1.title-big Юридическим лицам

    section.section.legal-section
      .main-wrapper.main-wrapper--p
        .legal
          .legal-row
            .legal-image(style="background-image: url(img/legal/legal-item-1.jpg)")
            .legal-text
              h2.title Архитекторам, строительным организациям, дизайнерам
              ul.ul
                li Мы покажем вам компьютерную визуализацию ваших будущих элементов декора и сложных конструкций наружной солнцезащиты.
                li Если вы пока не до конца понимаете, какая конструкция подходит больше всего под ваши задачи, мы проконсультируем по свойствам, назначению, функциям и применению всей продукции.
                li Наши мобильные менеджеры-дизайнеры приедут к Вам на объект с образцами и сделают все необходимые замеры и расчет стоимости заказа.
                li Предоставим полный комплект документов для оплаты наличным и безналичным расчетом.
          .legal-row
            .legal-text
              h2.title Бюджетным организациям
              ul.ul
                li У нас большой опыт работы с государственными учреждениями — мы часто участвуем в тендерах, государственных закупках. Поэтому уже давно разработали полный комплекс услуг, необходимых для школ, детских садов, медицинских учреждений.
                li Мы понимаем, что важным параметром для вас будет соотношение цены/качества, поэтому заранее подобрали большой выбор тканей и цветов предыдущих коллекций, который не уступает по качеству, но приятны в цене.
                li Поможем сэкономить деньги и на большом объеме.<br> Знаем, для вас важна юридическая сторона вопроса, поэтому у нас есть полный комплект документов для работы с НДС компаниями, мы предоставляем сертификаты качества, все санитарно-гигиенические документы, составляем гарантийные паспорта на продукцию соответствующую ДСТУ.
            .legal-image(style="background-image: url(img/legal/legal-item-2.jpg)")




    include ../partials/more
    include ../partials/certificates


  include ../partials/footer



