extends ../layouts/main

block contents
  include ../partials/header

  .main#marquises-horizontal
    .breadcrumbs
      .main-wrapper
        a(href="#").breadcrumbs__item Главная
        a(href="#").breadcrumbs__item Внутренние солнцезащитные системы
        p.breadcrumbs__item Горизонтальные жалюзи

    .main-wrapper
      h1.title-big Маркиза горизонтальная

    include ../pages-partials/marquises-horizontal/inner-about
    include ../pages-partials/marquises-horizontal/inner-portfolio
    include ../partials/certificates

  include ../partials/footer

