extends ../layouts/main

block contents
  include ../partials/header

  .main#reflexes
    .breadcrumbs
      .main-wrapper
        a(href="#").breadcrumbs__item Главная
        a(href="#").breadcrumbs__item Внутренние солнцезащитные системы
        p.breadcrumbs__item Рефлексолы

    include ../pages-partials/reflexes/intro-offer
    include ../pages-partials/reflexes/description
    include ../pages-partials/reflexes/about-1
    include ../pages-partials/reflexes/cost-calculator
    include ../partials/portfolio-1
    include ../pages-partials/home/action-2
    include ../pages-partials/home/reviews

  include ../partials/footer
