extends ../layouts/main

block contents
  include ../partials/header

  .main#roman-blinds-inner
    .breadcrumbs
      .main-wrapper
        a(href="#").breadcrumbs__item Главная
        a(href="#").breadcrumbs__item Внутренние солнцезащитные системы
        p.breadcrumbs__item Горизонтальные жалюзи

    .main-wrapper
      h1.title-big Рулонные шторы Roman Style

    include ../pages-partials/roman-blinds-inner/inner-about
    include ../pages-partials/roman-blinds-inner/inner-portfolio
    include ../partials/certificates

  include ../partials/footer

