extends ../layouts/main

block contents
  include ../partials/header

  .main#zebra-blinds
    .breadcrumbs
      .main-wrapper
        a(href="#").breadcrumbs__item Главная
        a(href="#").breadcrumbs__item Внутренние солнцезащитные системы
        p.breadcrumbs__item Рулонные шторы день-ночь

    include ../pages-partials/zebra-blinds/intro-offer
    include ../pages-partials/zebra-blinds/advantages
    include ../pages-partials/roller-blinds/about
    include ../partials/cost-calculator
    include ../partials/portfolio-1
    include ../pages-partials/home/action-2
    include ../pages-partials/home/reviews

  include ../partials/footer
