.popup-layout#popup-offer
  .popup-scrollarea
    .popup.popup-offer
      .popup-offer__left
        .popup-offer-date С 18 июня до 23 июля 2018
        .popup-offer-thumb
      .popup-offer__right
        h2.title-2.popup-offer-title Обменяте старые жалюзи<br> на новые со скидкой!
        p.popup-offer-text
          | За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
          br
          br
          | Текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые.
        .popup-offer-contacts
          h2 Звоните!
          .popup-offer-contacts-list
            .popup-offer-contacts-list__col
              .main-header-top-info__phone
                i
                a(href="tel:+380577517507") +38(057) 751 75 07
              .main-header-top-info__phone
                i
                a(href="tel:+380577517507") +38(057) 751 75 07
              .main-header-top-info__phone
                i
                a(href="tel:+380577517507") +38(057) 751 75 07
            .popup-offer-contacts-list__col
              .main-header-top-info__time
                i
                p Пн-Вс: с 9.00 до 20.00
