.popup-layout#popup-cloth
  .popup-scrollarea
    .popup.popup-cloth
      .popup__close
      .popup__header
        h2.subtitle Хотите выбрать эту ткань?
      .popup-cloth-block
        .popup-cloth-block__image(style="background-image: url(img/common/popups/cloth/cloth-image.jpg)")
          .popup-cloth-block__image-type
            .popup-cloth-block__image-type-icon(style="background-image: url(img/common/brightness-icon-1.svg)")
            | Black out
        .popup-cloth-block__content
          h2.title-2 ANCARA 256
          p Можно добавить описание ткани. Длинной около двух строк
          .popup-cloth-block__btns
            a(href="#").btn выбрать
            a(href="#").btn.btn--transparent отмена
