section.section.home-about-2
  .main-wrapper.main-wrapper--p
    .home-about-2-main
      .home-about-2-main__left
        h2.title.home-about-2-main__title Григорий Рещенков
        h3.home-about-2-main__subtitle Генеральный директор
        p.home-about-2-main__text
          | За неколько лет мы объездили 67 производств Украины, Белоруссии, России, Франции и Германии. И 63 производства не соответствовали нашим повышенным стандартам.
          br
          br
          | В итоге мы сотрудничаем только с 4 производителями.  Мы лично несём ответственность за каждый проданный товар. Плюс помогаем производителям сохранять качество на должном уровне.
        a(href="#").btn.btn--md.btn--transparent.home-about-2-main__btn больше о команде
      .home-about-2-main__right
        .home-about-2-main__right-image

