section.section.home-action
  .main-wrapper.main-wrapper--p
    .home-action-main
      h2.home-action-main__title Затрудняетесь с выбором?
      h3.home-action-main__subtitle Вызовите бесплатно замерщика-дизайнера с каталогом, в котором более 1 000 образцов.

      .home-action-form
        .home-action-form__formgroup
          input(value="+38").home-action-form__input.input--phone
          button(type="submit").btn.home-action-form__submit Вызвать замерщика
        p.home-action-form__disclaimer Не переживайте, вместе с ним вы быстро остановитесь на 7-10 подходящих именно вам:)
        .custom-checkbox.home-action-form__checkbox
          input(id="checkbox-agreement-2" type="checkbox" name="checkbox-agreement-2")
          label(for="checkbox-agreement-2")
            | Даю согласие на обработку моих данных, в соответствии с Пользовательским соглашением
            .custom-checkbox__box