section.section.home-banner
  .main-wrapper
    h1.home-banner__title Собрали, пожалуй, всю лучшую продукцию мировых брендов солнцезащитных систем
    h2.home-banner__subtitle Экслюзивный представитель многих брендов — особые договорённости позволяют продавать по сниженным ценам.

