section.section.home-intro
  .main-wrapper
    ul.home-intro-list
      li.home-intro-item
        .home-intro-item__thumb(style="background-image: url(img/home/intro/home-intro-item-1.jpg)")
        .home-intro-item__content
          h2 Внутренние<br> солнцезащитные системы
      li.home-intro-item
        .home-intro-item__thumb(style="background-image: url(img/home/intro/home-intro-item-2.jpg)")
        .home-intro-item__content
          h2 Наружные<br> солнцезащитные системы
      li.home-intro-item
        .home-intro-item__thumb(style="background-image: url(img/home/intro/home-intro-item-3.jpg)")
        .home-intro-item__content
          h2 Пластиковые<br> окна
      li.home-intro-item
        .home-intro-item__thumb(style="background-image: url(img/home/intro/home-intro-item-4.jpg)")
        .home-intro-item__content
          h2 Секционные<br> ворота
