section.section.home-products.home-products--3
  .main-wrapper.main-wrapper--p
    .home-products-slider.home-products-slider--lg
      .home-products-slide.home-products-slide--lg
        a(href="#").home-products-slide-inner(style="background-image: url(img/home/products/home-products-item-03-01.jpg)")
          .home-products-slide-inner__top
            h2.home-products-slide-inner__title Автоматические гаражные ворота
              .home-products-slide-inner__price
                p от<br> 2 588 грн
            .stars
              .star
              .star
              .star
              .star
              .star.star--empty
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Защитите свой гараж от взлома и осадков минимум на 17 лет. Защиту можно сравнить с кирпичной стеной 60см.
            .btn.home-products-slide-inner__btn Подробнее
      .home-products-slide.home-products-slide--lg
        a(href="#").home-products-slide-inner(style="background-image: url(img/home/products/home-products-item-03-02.jpg)")
          .home-products-slide-inner__top
            h2.home-products-slide-inner__title пластиковые окна
              .home-products-slide-inner__price
                p от<br> 2 588 грн
            .stars
              .star
              .star
              .star
              .star
              .star.star--empty
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Установите их уже на 4-й день после заказа. Напрямую от производителя. С увеличенной гарантией 5 лет.
            .btn.home-products-slide-inner__btn Подробнее
