section.section.home-products.home-products--2
  .main-wrapper.main-wrapper--p
    h2.title.home-products__title Наружные солнцезащитные системы
    h3.subtitle.home-products__subtitle Контроль над солнцем и красивое архитектураное решение

    .home-products-slider.home-products-slider--md
      .home-products-slide
        a(href="#").home-products-slide-inner(style="background-image: url(img/home/products/home-products-item-02-01.jpg)")
          .home-products-slide-inner__top
            h2.home-products-slide-inner__title маркизы
              .home-products-slide-inner__price
                p от<br> 2 588 грн
            .stars
              .star
              .star
              .star
              .star
              .star.star--empty
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Застрахуйтесь от непогоды благодаря навесам с выдвижной конструкцией.
            .btn.home-products-slide-inner__btn Подробнее
      .home-products-slide
        a(href="#").home-products-slide-inner(style="background-image: url(img/home/products/home-products-item-02-02.jpg)")
          .home-products-slide-inner__top
            h2.home-products-slide-inner__title рефлексолы
              .home-products-slide-inner__price
                p от<br> 2 588 грн
            .stars
              .star
              .star
              .star
              .star
              .star.star--empty
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Установите ультросовременную тканевую систему солнцезащиты.
            .btn.home-products-slide-inner__btn Подробнее
      .home-products-slide
        a(href="#").home-products-slide-inner(style="background-image: url(img/home/products/home-products-item-02-03.jpg)")
          .home-products-slide-inner__top
            h2.home-products-slide-inner__title рольставни
              .home-products-slide-inner__price
                p от<br> 2 588 грн
            .stars
              .star
              .star
              .star
              .star
              .star.star--empty
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Установите превосходную систему защиты  от взломов и непогоды.
            .btn.home-products-slide-inner__btn Подробнее
      .home-products-slide
        a(href="#").home-products-slide-inner(style="background-image: url(img/home/products/home-products-item-02-03.jpg)")
          .home-products-slide-inner__top
            h2.home-products-slide-inner__title рольставни
              .home-products-slide-inner__price
                p от<br> 2 588 грн
            .stars
              .star
              .star
              .star
              .star
              .star.star--empty
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Установите превосходную систему защиты  от взломов и непогоды.
            .btn.home-products-slide-inner__btn Подробнее

    a(href="#").btn-transparent.home-products__btn Перейти ко всем наружным<br> солнцезащитным системам
