section.section.home-reviews
  .main-wrapper.main-wrapper--p
    h2.home-reviews__title.title Отзывы наших клиентов
    h3.home-reviews__subtitle.subtitle За 4 года нам удалось порадовать качественной продукцией более 20 000 человек

    ul.home-reviews-list
      li.home-reviews-item
        .home-reviews-item__main
          .home-reviews-item__text Многие программы электронной вёрстки  и редакторы HTML используют Lorem Ipsum  в качестве текста по умолчанию, веб-страниц всё ещё дожидаются своего настоящего  Lorem Ipsum  в качестве текста по умолчанию, веб-страниц всё
        .home-reviews-item__footer
          .home-reviews-item__author
            .home-reviews-item__author-image(style="background-image: url(img/home/reviews/home-reviews-author-image.jpg)")
            .home-reviews-item__author-main
              h2.home-reviews-item__author-name Игорь Прокофьев
              .stars
                .star
                .star
                .star
                .star
                .star.star--empty
      li.home-reviews-item
        .home-reviews-item__main
          .home-reviews-item__text Многие программы электронной вёрстки  и редакторы HTML используют Lorem Ipsum  в качестве текста по умолчанию, веб-страниц всё ещё дожидаются своего настоящего  Lorem Ipsum  в качестве текста по умолчанию, веб-страниц всё
        .home-reviews-item__footer
          .home-reviews-item__author
            .home-reviews-item__author-image(style="background-image: url(img/home/reviews/home-reviews-author-image.jpg)")
            .home-reviews-item__author-main
              h2.home-reviews-item__author-name Игорь Прокофьев
              .stars
                .star
                .star
                .star
                .star
                .star.star--empty
      li.home-reviews-item
        .home-reviews-item__main
          .home-reviews-item__text Многие программы электронной вёрстки  и редакторы HTML используют Lorem Ipsum  в качестве текста по умолчанию, веб-страниц всё ещё дожидаются своего настоящего  Lorem Ipsum  в качестве текста по умолчанию, веб-страниц всё
        .home-reviews-item__footer
          .home-reviews-item__author
            .home-reviews-item__author-image(style="background-image: url(img/home/reviews/home-reviews-author-image.jpg)")
            .home-reviews-item__author-main
              h2.home-reviews-item__author-name Игорь Прокофьев
              .stars
                .star
                .star
                .star
                .star
                .star.star--empty


    ul.certificates
      li.certificates__item(style="background-image: url(img/home/reviews/certificate-1.jpg)")
      li.certificates__item(style="background-image: url(img/home/reviews/certificate-2.jpg)")
      li.certificates__item(style="background-image: url(img/home/reviews/certificate-3.jpg)")
      li.certificates__item(style="background-image: url(img/home/reviews/certificate-4.jpg)")
      li.certificates__item(style="background-image: url(img/home/reviews/certificate-5.jpg)")
      li.certificates__item(style="background-image: url(img/home/reviews/certificate-6.jpg)")
      li.certificates__item(style="background-image: url(img/home/reviews/certificate-7.jpg)")
      li.certificates__item(style="background-image: url(img/home/reviews/certificate-8.jpg)")
