section.section.about-1-section
  .main-wrapper.main-wrapper--p

    .about-1
      .about-1__left
        .about-1-content
          h3.subtitle.about-1-content__subtitle Есть разновидность рефлексол — называется
          h2.title.about-1-content__title кассетные рефлексолы системы «ZIP» с боковыми направляющими
          p.text.about-1-content__text
            | Они создают идеальный микроклимат в помещении.<br> Это полностью закрытая конструкция.
            br
            br
            | Ткань надёжно зафиксирована в направляющих с помощью специальной ленты-замка — работает как обычная «молния». Этот замок делает ткань управляемой, идеально её натягивает, защищает от выпадения полотна и устраняет боковые зазоры.
            br
            br
            | Профили и верхняя кассета сделаны из экструдированного алюминия. Короб может быть квадратным, загрулённым,<br> а также может быть любого цвета.
          a(href="#").btn.about-1-content__btn хочу, это практично!
      .about-1__right
        .about-1-blocks
          .about-1-block(style="background-image: url(img/reflexes/about-1/about-1-block-1.jpg)")
            .about-1-block__text Повышенная устойчивость к ветру в любой позиции. Кант с молнией помогает зафиксировать обе боковые направляющие. Остается в равномерно натянутом виде даже при ветре 80 км/час. Можно регулировать степень проветривания.
          .about-1-block(style="background-image: url(img/reflexes/about-1/about-1-block-2.jpg)")
            .about-1-block__text Идеальная защита от насекомых благодаря отсутствию боковых зазоров.
          .about-1-block(style="background-image: url(img/reflexes/about-1/about-1-block-3.jpg)")
            .about-1-block__text Профиль не издаёт шума. Управляется механически или с помощью пульта.
