section.section.blinds-description-section(style="background-image: url(img/reflexes/description/description-thumb.jpg)")
 .main-wrapper.main-wrapper--p
  .blinds-description.blinds-description--2
   h2.title Рефлексолы славятся полиэфирными тканями.
   .hr-left
   p
    | Они не боятся огня, пыли и ветра. Выдерживают температуру<br> от -40˚ до +80˚ по С и сильный ветер (3 класс ветроустойчивости).
    br
    br
    | Устраняют блики на мониторах. Большой выбор цветов. Можно<br> использовать как рекламный носитель — для вас нанесём<br> фотопечать. И через 10 лет ткань сохраняет свою геометрию.<br> Экологичны. Есть «эффект самоочищения».
   a(href="#").btn хочу такую красоту!