section.section.intro-offer-section
  .main-wrapper.main-wrapper--p
    .intro-offer.intro-offer--green
      .intro-offer__left
        .intro-offer__thumb(style="background-image: url(img/reflexes/intro-offer/intro-offer-thumb.jpg)")
        .intro-offer__left-top
          h1.title-big.intro-offer__title Рефлексолы
          h2.subtitle.intro-offer__subtitle Установите ультрасовременную тканевую систему солнцезащиты.
        .intro-offer__left-bottom
          .video-btn
            i
            p Рефлексолы крепятся с внешней стороны здания. Задерживают до 90% солнечной энергии благодаря микровентиляционной структуре
      .intro-offer__right
        header.intro-offer__header
          .intro-offer__header-left
            .intro-offer__header-left-top
              .stars
                .star
                .star
                .star
                .star
                .star.star--empty
              h3.intro-offer__price-old от 7 585 грн.
            .intro-offer__header-left-bottom
              h2.intro-offer__price от <span>4 508</span> грн.
          .intro-offer__header-right
            .intro-offer__discount
              .intro-offer__discount-text Вызвать<br> замерщика-дизайнера
              .intro-offer__discount-amount Скидка  до 30%
        .intro-offer__main
          p.intro-offer__text
            | Отлично регулируют свет и тепло. Задерживают до 90% солнечной энергии благодаря микровентиляционной структуре и снижают температуру в среднем на 6 градусов. Полностью не затеняют помещение. Зимой, наоборот, создают воздушную прослойку и не дают выйти теплу из комнаты — вы получаете экономию на кондиционировании до 60% затрат.
            br
            br
            | Можно сделать так, что с улицы вас никто не увидит и при этом вы будете видеть всё, что происходит снаружи. Для этого есть разные ткани с разной светопроницаемостью.
            br
            br
            | Подходят для окон шириной до 7,2 м и высотой до 6 м. Выглядят снаружи невероятно красиво.
        footer.intro-offer__footer
          ul.intro-offer__advantages
            li.intro-offer__advantages-item
              img(src="img/common/intro-offer/intro-offer-advantages-1-green.svg")
              p Бесплатный замер  и бесплатный монтаж
            li.intro-offer__advantages-item
              img(src="img/common/intro-offer/intro-offer-advantages-2-green.svg")
              p Фабричная гарантия<br>  на ткань и механизмы — 1 год
            li.intro-offer__advantages-item
              img(src="img/common/intro-offer/intro-offer-advantages-3-green.svg")
              p Возможен экспресс-вызов замерщика

