section.section.about-1-section
  .main-wrapper.main-wrapper--p

    .about-1
      .about-1__left
        .about-1-content
          h2.title-3.about-1-content__title Только лучшие бренды
          .about-1-brands
            .about-1-brand
              h3.about-1-brand__title Aluplast
              .about-1-brand__logo(style="background-image: url(img/plastic-windows/about-1/brand-logo-1.png)")
              .about-1-brand__image(style="background-image: url(img/plastic-windows/about-1/brand-image-1.png)")
            .about-1-brand
              h3.about-1-brand__title wds
              .about-1-brand__logo(style="background-image: url(img/plastic-windows/about-1/brand-logo-2.png)")
              .about-1-brand__image(style="background-image: url(img/plastic-windows/about-1/brand-image-1.png)")
            .about-1-brand
              h3.about-1-brand__title rehau
              .about-1-brand__logo(style="background-image: url(img/plastic-windows/about-1/brand-logo-3.png)")
              .about-1-brand__image(style="background-image: url(img/plastic-windows/about-1/brand-image-1.png)")
      .about-1__right
        .about-1-blocks
          .about-1-block
            h2.title-3.about-1-block__title Фирменные стеклопакеты
            .about-1-doublewindows-list
              .about-1-doublewindows-item
                .about-1-doublewindows-item__left
                  .about-1-doublewindows-item__thumb(style="background-image: url(img/plastic-windows/about-1/double-window-1.png)")
                  .about-1-doublewindows-item__title 2х камерный triplex
                .about-1-doublewindows-item__right
                  .about-1-doublewindows-item__info
                    .about-1-doublewindows-item__info-item
                      h3.about-1-doublewindows-item__info-item-title Энергозбережение:
                      .about-1-doublewindows-item__info-item-line
                        .about-1-doublewindows-item__info-item-line-fill(style="width: 80%")
                    .about-1-doublewindows-item__info-item
                      h3.about-1-doublewindows-item__info-item-title Солнцезащита:
                      .about-1-doublewindows-item__info-item-line
                        .about-1-doublewindows-item__info-item-line-fill(style="width: 50%")
                    .about-1-doublewindows-item__info-item
                      h3.about-1-doublewindows-item__info-item-title Шумоизоляция:
                      .about-1-doublewindows-item__info-item-line
                        .about-1-doublewindows-item__info-item-line-fill(style="width: 20%")
                    .about-1-doublewindows-item__info-item
                      h3.about-1-doublewindows-item__info-item-title Безопастность:
                      .about-1-doublewindows-item__info-item-line
                        .about-1-doublewindows-item__info-item-line-fill(style="width: 20%")
              .about-1-doublewindows-item
                .about-1-doublewindows-item__left
                  .about-1-doublewindows-item__thumb(style="background-image: url(img/plastic-windows/about-1/double-window-1.png)")
                  .about-1-doublewindows-item__title 2х камерный triplex
                .about-1-doublewindows-item__right
                  .about-1-doublewindows-item__info
                    .about-1-doublewindows-item__info-item
                      h3.about-1-doublewindows-item__info-item-title Энергозбережение:
                      .about-1-doublewindows-item__info-item-line
                        .about-1-doublewindows-item__info-item-line-fill(style="width: 80%")
                    .about-1-doublewindows-item__info-item
                      h3.about-1-doublewindows-item__info-item-title Солнцезащита:
                      .about-1-doublewindows-item__info-item-line
                        .about-1-doublewindows-item__info-item-line-fill(style="width: 50%")
                    .about-1-doublewindows-item__info-item
                      h3.about-1-doublewindows-item__info-item-title Шумоизоляция:
                      .about-1-doublewindows-item__info-item-line
                        .about-1-doublewindows-item__info-item-line-fill(style="width: 20%")
                    .about-1-doublewindows-item__info-item
                      h3.about-1-doublewindows-item__info-item-title Безопастность:
                      .about-1-doublewindows-item__info-item-line
                        .about-1-doublewindows-item__info-item-line-fill(style="width: 20%")
              .about-1-doublewindows-item
                .about-1-doublewindows-item__left
                  .about-1-doublewindows-item__thumb(style="background-image: url(img/plastic-windows/about-1/double-window-1.png)")
                  .about-1-doublewindows-item__title 2х камерный reflektor
                .about-1-doublewindows-item__right
                  .about-1-doublewindows-item__info
                    .about-1-doublewindows-item__info-item
                      h3.about-1-doublewindows-item__info-item-title Энергозбережение:
                      .about-1-doublewindows-item__info-item-line
                        .about-1-doublewindows-item__info-item-line-fill(style="width: 80%")
                    .about-1-doublewindows-item__info-item
                      h3.about-1-doublewindows-item__info-item-title Солнцезащита:
                      .about-1-doublewindows-item__info-item-line
                        .about-1-doublewindows-item__info-item-line-fill(style="width: 50%")
                    .about-1-doublewindows-item__info-item
                      h3.about-1-doublewindows-item__info-item-title Шумоизоляция:
                      .about-1-doublewindows-item__info-item-line
                        .about-1-doublewindows-item__info-item-line-fill(style="width: 20%")
                    .about-1-doublewindows-item__info-item
                      h3.about-1-doublewindows-item__info-item-title Безопастность:
                      .about-1-doublewindows-item__info-item-line
                        .about-1-doublewindows-item__info-item-line-fill(style="width: 20%")


          .about-1-block(style="background-image: url(img/plastic-windows/about-1/about-1-block-2.jpg)")
            .about-1-block__text На сегодняшний день немецкая фурнитура «Roto» является одной из лучших оконных механизмов. Обеспечивает прекрасную работу более 1000 циклов.
          .about-1-block(style="background-image: url(img/plastic-windows/about-1/about-1-block-3.jpg)")
            .about-1-block__text Мы готовы предоставить вам огромный выбор аксесуаров и дизайна
