section.section.about-1-section
  .main-wrapper.main-wrapper--p

    .about-1
      .about-1__left
        .about-1-content
          h3.subtitle.about-1-content__subtitle &nbsp;
          h2.title.about-1-content__title Уникальные стеклопакеты сохраняют микроклимат помещения
          p.text.about-1-content__text
            | Энергосберегающие стёкла зимой снижают проникновение тепла на улицу на 30-40% и тем самым снижают затраты на отопление.
            br
            br
            | А летом стеклопакеты со стеклом Solar от Guardian и напылением из серебра не пропускают тепло солнечных лучей в помещение.
            br
            br
            | Производим однокамерные, двухкамерные стеклопакеты и окна с моностеклом. Используем стекла разной толщины и типов.
            br
            br
            br
            br
          a(href="#").btn.about-1-content__btn хочу, это практично!
      .about-1__right
        .about-1-blocks
          .about-1-block(style="background-image: url(img/plastic-windows/about-1/about-1-block-1.jpg)")
            .about-1-block__text Можем подготовить 3-х, 4-х, 5-ти и 6-ти камерные профильные системы «Aluplast» (Германия) и «WDS» (Украина). Могут быть не обязательно стандартной прямоугольной формы, но и арочные, трапециевидные, круглые и полуарочные конструкции.
          .about-1-block(style="background-image: url(img/plastic-windows/about-1/about-1-block-2.jpg)")
            .about-1-block__text Снизите шум дома в несколько раз благодаря двухкамерному стеклопакету со стеклом 6 мм и дистанционной рамкой.
          .about-1-block(style="background-image: url(img/plastic-windows/about-1/about-1-block-3.jpg)")
            .about-1-block__text Противоударное стекло TRIPLEX и противозломная фарнитура — дополнительная сверхмощная защита от взлома.
