section.section.advantages-section
  .advantages-slider.advantages-slider--blue.slick--dots-1.slick--arrows-1.slick--blue
    .advantages-slide
      .advantages-slide-inner(style="background-image: url(img/plastic-windows/advantages/advantages-image-1.jpg)")
        .main-wrapper.main-wrapper--p
          h2.title Гарантия качества и низкой цены благодаря 2 факторам
          h3.subtitle <span>1й фактор</span> — у нас одно из самых технологичных, новаторских и высокоточных производств Украины
          p С 2006 г. внедрили замкнутый цикл производства — все оконные узлы, включая стеклопакеты, изготавливаем на своём предприятии  и отвечаем за их качество.
    .advantages-slide
      .advantages-slide-inner(style="background-image: url(img/plastic-windows/advantages/advantages-image-1.jpg)")
        .main-wrapper.main-wrapper--p
          h2.title Гарантия качества и низкой цены благодаря 2 факторам
          h3.subtitle <span>1й фактор</span> — у нас одно из самых технологичных, новаторских и высокоточных производств Украины
          p С 2006 г. внедрили замкнутый цикл производства — все оконные узлы, включая стеклопакеты, изготавливаем на своём предприятии  и отвечаем за их качество.
