section.section.cost-calculator
  .main-wrapper.main-wrapper--p
    h2.title Умный калькулятор стоимости
    h3.subtitle +  гид по поиску того окна, которое идеально подойдёт именно вам

    .cost-calculator-main.cost-calculator-main--blue
      .cost-calculator-main__content
        h2 После ответа на 3 вопроса, вы получите<br> персональную <span>скидку</span><br>  и <span>скрытый подарок,</span><br>  о котором не услышать<br> даже от наших <br>менеджеров!
        a(href="#").btn расчитать стоимость
        p Среднее время работы с калькулятором —<br> 55 секунд
      .cost-calculator-main__image(style="background-image: url(img/marquises/cost-calculator/cost-calculator-thumb.jpg)")