section.section.intro-offer-section
  .main-wrapper.main-wrapper--p
    .intro-offer.intro-offer--blue
      .intro-offer__left
        .intro-offer__thumb(style="background-image: url(img/plastic-windows/intro-offer/intro-offer-thumb.jpg)")
        .intro-offer__left-top
          h1.title-big.intro-offer__title Пластиковые окна
          h2.subtitle.intro-offer__subtitle Установите их уже на 4-й день после заказа. Напрямую от производителя. С увеличенной гарантией 5 лет.
        .intro-offer__left-bottom
          .video-btn
            i
            p Каждое окно комплектуется с армирующим профилем — наши окна сохраняются долгие годы даже при сильнейших внешних нагрузках
      .intro-offer__right
        header.intro-offer__header
          .intro-offer__header-left
            .intro-offer__header-left-top
              .stars
                .star
                .star
                .star
                .star
                .star.star--empty
              h3.intro-offer__price-old от 2 585 грн.
            .intro-offer__header-left-bottom
              h2.intro-offer__price от <span>1 508</span> грн.
          .intro-offer__header-right
            .intro-offer__discount
              .intro-offer__discount-text Вызвать<br> замерщика-дизайнера
              .intro-offer__discount-amount Скидка  до 30%
        .intro-offer__main
          p.intro-offer__text
            | Производим металлопластиковые и алюминиевые конструкции на двух производственных комплексах в 8 000 м2. Снизить цены помогает развитая инфраструктура, инженерно-техническая поддержка профессионалов, своя логистика и парк современного оборудования.
            br
            br
            | Окна эконологически чистые, без вредных веществ.
            br
            br
            | Немецкая фурнитура «Roto» помогает реализовать микропроветривание (ручка поворачивается на угол 45 градусов), пошаговое проветривание, «детский замок», защиту от взлома и т.д.
        footer.intro-offer__footer
          ul.intro-offer__advantages
            li.intro-offer__advantages-item
              img(src="img/common/intro-offer/intro-offer-advantages-1-blue.svg")
              p Бесплатный замер  и бесплатный монтаж
            li.intro-offer__advantages-item
              img(src="img/common/intro-offer/intro-offer-advantages-2-blue.svg")
              p Фабричная гарантия<br>  на ткань и механизмы — 1 год
            li.intro-offer__advantages-item
              img(src="img/common/intro-offer/intro-offer-advantages-3-blue.svg")
              p Возможен экспресс-вызов замерщика

