section.section.home-portfolio
  .main-wrapper.main-wrapper--p
    h2.title А какая из наших работ вам нравится больше всего?
    h3.subtitle За 10 лет мы установили более 2 000 штор и жалюзи

    .home-portfolio-main.home-portfolio-main--green
      .home-portfolio-menu
        h2.home-portfolio-menu__title Категории товаров
        .home-portfolio-menu__list
          .home-portfolio-menu__item.home-portfolio-menu__item--active Маркиза горизонтальная
          .home-portfolio-menu__item Маркиза вертикальная
          .home-portfolio-menu__item Маркиза ковшовая
          .home-portfolio-menu__item Маркиза с падающим локтём
      .home-portfolio-gallery
        .home-portfolio-gallery__image.home-portfolio-gallery__image--lg(style="background-image: url(img/home/portfolio/home-portfolio-image-1.jpg)")
        .home-portfolio-gallery__image(style="background-image: url(img/home/portfolio/home-portfolio-image-2.jpg)")
        .home-portfolio-gallery__image(style="background-image: url(img/home/portfolio/home-portfolio-image-2.jpg)")
        .home-portfolio-gallery__image.home-portfolio-gallery__image--lg(style="background-image: url(img/home/portfolio/home-portfolio-image-1.jpg)")
        .home-portfolio-gallery__image(style="background-image: url(img/home/portfolio/home-portfolio-image-2.jpg)")
        .home-portfolio-gallery__image(style="background-image: url(img/home/portfolio/home-portfolio-image-2.jpg)")
        .home-portfolio-gallery__image(style="background-image: url(img/home/portfolio/home-portfolio-image-2.jpg)")
        .home-portfolio-gallery__image(style="background-image: url(img/home/portfolio/home-portfolio-image-2.jpg)")
        .home-portfolio-gallery__image.home-portfolio-gallery__image--lg(style="background-image: url(img/home/portfolio/home-portfolio-image-1.jpg)")
        .home-portfolio-gallery__image(style="background-image: url(img/home/portfolio/home-portfolio-image-2.jpg)")
        .home-portfolio-gallery__image(style="background-image: url(img/home/portfolio/home-portfolio-image-2.jpg)")
        .home-portfolio-gallery__image(style="background-image: url(img/home/portfolio/home-portfolio-image-2.jpg)")
        .home-portfolio-gallery__image(style="background-image: url(img/home/portfolio/home-portfolio-image-2.jpg)")
        .home-portfolio-gallery__image(style="background-image: url(img/home/portfolio/home-portfolio-image-2.jpg)")
        .home-portfolio-gallery__image.home-portfolio-gallery__image--text Еще примеры


  script.
    $(function(){
      changeTabs('home-portfolio-tabs__item', 'home-portfolio-content-tabs__item');
    });