section.section.plastic-windows-prices-section
  .main-wrapper.main-wrapper--p
    h2.title Стоимость типовых окон

    .plastic-windows-prices-tabs-layout
      .plastic-windows-prices-tabs
        .plastic-windows-prices-tab.plastic-windows-prices-tab--active(data-item="1") 5-ти этажка<br> панельная
        .plastic-windows-prices-tab(data-item="2") 9-ти этажка<br> полька
        .plastic-windows-prices-tab(data-item="3") 16 этажный дом
        .plastic-windows-prices-tab(data-item="4") 5-ти этакжка<br> кирпичная
        .plastic-windows-prices-tab(data-item="5") 9-ти этакжка<br> улучшенная
        .plastic-windows-prices-tab(data-item="6") Частная<br> застройка
        .plastic-windows-prices-tab(data-item="7") 9-12 этажка<br> чешка

    .plastic-windows-prices-content-tabs
      .plastic-windows-prices-content-tab.plastic-windows-prices-content-tab--active(data-item="1")
        .plastic-windows-prices-list
          .plastic-windows-prices-item
            h2.subtitle.plastic-windows-prices-item__title Двойное<br> открывающееся
            img(src="img/plastic-windows/prices/plastic-windows-prices-item-1.jpg").plastic-windows-prices-item__image
            h3.plastic-windows-prices-item__about Размер: 1 300 х 1 550
            h3.plastic-windows-prices-item__price <span>2 542</span> грн.
            a(href="#").btn.plastic-windows-prices-item__btn заказать
            h3.plastic-windows-prices-item__bottom-text Монтаж: 246 грн
          .plastic-windows-prices-item
            h2.subtitle.plastic-windows-prices-item__title Тройное<br> открывающееся по центру
            img(src="img/plastic-windows/prices/plastic-windows-prices-item-2.jpg").plastic-windows-prices-item__image
            h3.plastic-windows-prices-item__about Размер: 2 050 х 1350
            h3.plastic-windows-prices-item__price <span>2 962</span> грн.
            a(href="#").btn.plastic-windows-prices-item__btn заказать
            h3.plastic-windows-prices-item__bottom-text Монтаж: 399 грн
          .plastic-windows-prices-item
            h2.subtitle.plastic-windows-prices-item__title Балконый блок
            img(src="img/plastic-windows/prices/plastic-windows-prices-item-3.jpg").plastic-windows-prices-item__image
            h3.plastic-windows-prices-item__about Размер: 1 360 х 1 350 (окно)<br> 680 х 2 120 (дверь)
            h3.plastic-windows-prices-item__price <span>2 542</span> грн.
            a(href="#").btn.plastic-windows-prices-item__btn заказать
            h3.plastic-windows-prices-item__bottom-text Монтаж: 459 грн
      .plastic-windows-prices-content-tab(data-item="2")
        .plastic-windows-prices-list
          .plastic-windows-prices-item
            h2.subtitle.plastic-windows-prices-item__title Двойное<br> открывающееся
            img(src="img/plastic-windows/prices/plastic-windows-prices-item-1.jpg").plastic-windows-prices-item__image
            h3.plastic-windows-prices-item__about Размер: 1 300 х 1 550
            h3.plastic-windows-prices-item__price <span>2 542</span> грн.
            a(href="#").btn.plastic-windows-prices-item__btn заказать
            h3.plastic-windows-prices-item__bottom-text Монтаж: 246 грн
          .plastic-windows-prices-item
            h2.subtitle.plastic-windows-prices-item__title Тройное<br> открывающееся по центру
            img(src="img/plastic-windows/prices/plastic-windows-prices-item-2.jpg").plastic-windows-prices-item__image
            h3.plastic-windows-prices-item__about Размер: 2 050 х 1350
            h3.plastic-windows-prices-item__price <span>2 962</span> грн.
            a(href="#").btn.plastic-windows-prices-item__btn заказать
            h3.plastic-windows-prices-item__bottom-text Монтаж: 399 грн
          .plastic-windows-prices-item
            h2.subtitle.plastic-windows-prices-item__title Балконый блок
            img(src="img/plastic-windows/prices/plastic-windows-prices-item-3.jpg").plastic-windows-prices-item__image
            h3.plastic-windows-prices-item__about Размер: 1 360 х 1 350 (окно)<br> 680 х 2 120 (дверь)
            h3.plastic-windows-prices-item__price <span>2 542</span> грн.
            a(href="#").btn.plastic-windows-prices-item__btn заказать
            h3.plastic-windows-prices-item__bottom-text Монтаж: 459 грн
      .plastic-windows-prices-content-tab(data-item="3")
        .plastic-windows-prices-list
          .plastic-windows-prices-item
            h2.subtitle.plastic-windows-prices-item__title Двойное<br> открывающееся
            img(src="img/plastic-windows/prices/plastic-windows-prices-item-1.jpg").plastic-windows-prices-item__image
            h3.plastic-windows-prices-item__about Размер: 1 300 х 1 550
            h3.plastic-windows-prices-item__price <span>2 542</span> грн.
            a(href="#").btn.plastic-windows-prices-item__btn заказать
            h3.plastic-windows-prices-item__bottom-text Монтаж: 246 грн
          .plastic-windows-prices-item
            h2.subtitle.plastic-windows-prices-item__title Тройное<br> открывающееся по центру
            img(src="img/plastic-windows/prices/plastic-windows-prices-item-2.jpg").plastic-windows-prices-item__image
            h3.plastic-windows-prices-item__about Размер: 2 050 х 1350
            h3.plastic-windows-prices-item__price <span>2 962</span> грн.
            a(href="#").btn.plastic-windows-prices-item__btn заказать
            h3.plastic-windows-prices-item__bottom-text Монтаж: 399 грн
          .plastic-windows-prices-item
            h2.subtitle.plastic-windows-prices-item__title Балконый блок
            img(src="img/plastic-windows/prices/plastic-windows-prices-item-3.jpg").plastic-windows-prices-item__image
            h3.plastic-windows-prices-item__about Размер: 1 360 х 1 350 (окно)<br> 680 х 2 120 (дверь)
            h3.plastic-windows-prices-item__price <span>2 542</span> грн.
            a(href="#").btn.plastic-windows-prices-item__btn заказать
            h3.plastic-windows-prices-item__bottom-text Монтаж: 459 грн
      .plastic-windows-prices-content-tab(data-item="4")
        .plastic-windows-prices-list
          .plastic-windows-prices-item
            h2.subtitle.plastic-windows-prices-item__title Двойное<br> открывающееся
            img(src="img/plastic-windows/prices/plastic-windows-prices-item-1.jpg").plastic-windows-prices-item__image
            h3.plastic-windows-prices-item__about Размер: 1 300 х 1 550
            h3.plastic-windows-prices-item__price <span>2 542</span> грн.
            a(href="#").btn.plastic-windows-prices-item__btn заказать
            h3.plastic-windows-prices-item__bottom-text Монтаж: 246 грн
          .plastic-windows-prices-item
            h2.subtitle.plastic-windows-prices-item__title Тройное<br> открывающееся по центру
            img(src="img/plastic-windows/prices/plastic-windows-prices-item-2.jpg").plastic-windows-prices-item__image
            h3.plastic-windows-prices-item__about Размер: 2 050 х 1350
            h3.plastic-windows-prices-item__price <span>2 962</span> грн.
            a(href="#").btn.plastic-windows-prices-item__btn заказать
            h3.plastic-windows-prices-item__bottom-text Монтаж: 399 грн
          .plastic-windows-prices-item
            h2.subtitle.plastic-windows-prices-item__title Балконый блок
            img(src="img/plastic-windows/prices/plastic-windows-prices-item-3.jpg").plastic-windows-prices-item__image
            h3.plastic-windows-prices-item__about Размер: 1 360 х 1 350 (окно)<br> 680 х 2 120 (дверь)
            h3.plastic-windows-prices-item__price <span>2 542</span> грн.
            a(href="#").btn.plastic-windows-prices-item__btn заказать
            h3.plastic-windows-prices-item__bottom-text Монтаж: 459 грн
      .plastic-windows-prices-content-tab(data-item="5")
        .plastic-windows-prices-list
          .plastic-windows-prices-item
            h2.subtitle.plastic-windows-prices-item__title Двойное<br> открывающееся
            img(src="img/plastic-windows/prices/plastic-windows-prices-item-1.jpg").plastic-windows-prices-item__image
            h3.plastic-windows-prices-item__about Размер: 1 300 х 1 550
            h3.plastic-windows-prices-item__price <span>2 542</span> грн.
            a(href="#").btn.plastic-windows-prices-item__btn заказать
            h3.plastic-windows-prices-item__bottom-text Монтаж: 246 грн
          .plastic-windows-prices-item
            h2.subtitle.plastic-windows-prices-item__title Тройное<br> открывающееся по центру
            img(src="img/plastic-windows/prices/plastic-windows-prices-item-2.jpg").plastic-windows-prices-item__image
            h3.plastic-windows-prices-item__about Размер: 2 050 х 1350
            h3.plastic-windows-prices-item__price <span>2 962</span> грн.
            a(href="#").btn.plastic-windows-prices-item__btn заказать
            h3.plastic-windows-prices-item__bottom-text Монтаж: 399 грн
          .plastic-windows-prices-item
            h2.subtitle.plastic-windows-prices-item__title Балконый блок
            img(src="img/plastic-windows/prices/plastic-windows-prices-item-3.jpg").plastic-windows-prices-item__image
            h3.plastic-windows-prices-item__about Размер: 1 360 х 1 350 (окно)<br> 680 х 2 120 (дверь)
            h3.plastic-windows-prices-item__price <span>2 542</span> грн.
            a(href="#").btn.plastic-windows-prices-item__btn заказать
            h3.plastic-windows-prices-item__bottom-text Монтаж: 459 грн
      .plastic-windows-prices-content-tab(data-item="6")
        .plastic-windows-prices-list
          .plastic-windows-prices-item
            h2.subtitle.plastic-windows-prices-item__title Двойное<br> открывающееся
            img(src="img/plastic-windows/prices/plastic-windows-prices-item-1.jpg").plastic-windows-prices-item__image
            h3.plastic-windows-prices-item__about Размер: 1 300 х 1 550
            h3.plastic-windows-prices-item__price <span>2 542</span> грн.
            a(href="#").btn.plastic-windows-prices-item__btn заказать
            h3.plastic-windows-prices-item__bottom-text Монтаж: 246 грн
          .plastic-windows-prices-item
            h2.subtitle.plastic-windows-prices-item__title Тройное<br> открывающееся по центру
            img(src="img/plastic-windows/prices/plastic-windows-prices-item-2.jpg").plastic-windows-prices-item__image
            h3.plastic-windows-prices-item__about Размер: 2 050 х 1350
            h3.plastic-windows-prices-item__price <span>2 962</span> грн.
            a(href="#").btn.plastic-windows-prices-item__btn заказать
            h3.plastic-windows-prices-item__bottom-text Монтаж: 399 грн
          .plastic-windows-prices-item
            h2.subtitle.plastic-windows-prices-item__title Балконый блок
            img(src="img/plastic-windows/prices/plastic-windows-prices-item-3.jpg").plastic-windows-prices-item__image
            h3.plastic-windows-prices-item__about Размер: 1 360 х 1 350 (окно)<br> 680 х 2 120 (дверь)
            h3.plastic-windows-prices-item__price <span>2 542</span> грн.
            a(href="#").btn.plastic-windows-prices-item__btn заказать
            h3.plastic-windows-prices-item__bottom-text Монтаж: 459 грн
      .plastic-windows-prices-content-tab(data-item="7")
        .plastic-windows-prices-list
          .plastic-windows-prices-item
            h2.subtitle.plastic-windows-prices-item__title Двойное<br> открывающееся
            img(src="img/plastic-windows/prices/plastic-windows-prices-item-1.jpg").plastic-windows-prices-item__image
            h3.plastic-windows-prices-item__about Размер: 1 300 х 1 550
            h3.plastic-windows-prices-item__price <span>2 542</span> грн.
            a(href="#").btn.plastic-windows-prices-item__btn заказать
            h3.plastic-windows-prices-item__bottom-text Монтаж: 246 грн
          .plastic-windows-prices-item
            h2.subtitle.plastic-windows-prices-item__title Тройное<br> открывающееся по центру
            img(src="img/plastic-windows/prices/plastic-windows-prices-item-2.jpg").plastic-windows-prices-item__image
            h3.plastic-windows-prices-item__about Размер: 2 050 х 1350
            h3.plastic-windows-prices-item__price <span>2 962</span> грн.
            a(href="#").btn.plastic-windows-prices-item__btn заказать
            h3.plastic-windows-prices-item__bottom-text Монтаж: 399 грн
          .plastic-windows-prices-item
            h2.subtitle.plastic-windows-prices-item__title Балконый блок
            img(src="img/plastic-windows/prices/plastic-windows-prices-item-3.jpg").plastic-windows-prices-item__image
            h3.plastic-windows-prices-item__about Размер: 1 360 х 1 350 (окно)<br> 680 х 2 120 (дверь)
            h3.plastic-windows-prices-item__price <span>2 542</span> грн.
            a(href="#").btn.plastic-windows-prices-item__btn заказать
            h3.plastic-windows-prices-item__bottom-text Монтаж: 459 грн


script.
  $(function(){
    // prices change tabs
    changeTabs('plastic-windows-prices-tab', 'plastic-windows-prices-content-tab');
  });
