section.section.services-section
  .main-wrapper.main-wrapper--p
    h2.title Дополнительные возможности
    .services.services--violet
      .services-item(style="background-image: url(img/plastic-windows/services/services-item-1.jpg)")
        h2.services-item__title москитная сетка
        .services-item__text С такой сеткой вы сможете открывать окна в любую жару - дома никогда не появится мух и комаров.
      .services-item(style="background-image: url(img/plastic-windows/services/services-item-2.jpg)")
        h2.services-item__title детский замок
        .services-item__text Установка на ПВХ окна специальных детских замков поможет предотвратить падение из окон детей и домашних питомцев.
      .services-item(style="background-image: url(img/plastic-windows/services/services-item-3.jpg)")
        h2.services-item__title ламинированный<br> профиль
        .services-item__text Вы можете придать своему окну желаемый вид выбрав любой цвет или фактуру под дерево или метал.
      .services-item(style="background-image: url(img/plastic-windows/services/services-item-4.jpg)")
        h2.services-item__title Дистанционное открывание
        .services-item__text Удобная опция, чтобы закрыть окно большого размера или расположенное слишком высоко.
      .services-item(style="background-image: url(img/plastic-windows/services/services-item-5.jpg)")
        h2.services-item__title Скрытые петли
        .services-item__text Со скрытыми петлями окно выглядит более гармонично, а также имеет более высокие показатели взломостойкости и теплозащиты.
      .services-item(style="background-image: url(img/plastic-windows/services/services-item-6.jpg)")
        h2.services-item__title Вентиляционный<br> клапан
        .services-item__text Лучший способ проветривания вашего дома. Клапан можно регулировать и для его работы не требуется открывать окна

    a(href="#").btn.services-btn показать еще
