section.section.common-about
  .main-wrapper.main-wrapper--p
    .common-about-main
      .common-about-main__image(style="background-image: url(img/horizontal-blinds/about/horizontal-blinds-about-image.jpg)")
        .video-btn
          i
          p Деревянные жалюзи нельзя мыть водой, иначе возможно искажение структуры ламели
      .common-about-main__content
        h2.title Легко ли ухаживать за деревянными жалюзи?
        p
          | Гораздо проще, чем за многими другими видами жалюзи. Включая тканевые.
          br
          br
          | Убирать пыль достаточно сухой или слегка влажной ветошью. Раз в месяц их можно пылесосить. Бо́льшую часть работы выполнит пылеотталкивающая пропитка.
