section.section.blinds-description-section(style="background-image: url(img/wooden-blinds/description/description-thumb.jpg)")
 .main-wrapper.main-wrapper--p
  .blinds-description
   h3.subtitle
   h2.title Зачем бизнесменам и звездам шоу-бизнеса деревянные жалюзи
   .hr-left
   p В основном из-за их экологической безопасности. Более того, они полезны из-за натуральных эфирных масел и душистых смол.
   a(href="#").btn подробнее