section.section.intro-offer-section
  .main-wrapper.main-wrapper--p
    .intro-offer
      .intro-offer__left
        .intro-offer__thumb(style="background-image: url(img/wooden-blinds/intro-offer/intro-offer-thumb.jpg)")
        .intro-offer__left-top
          h1.title-big.intro-offer__title деревянные жалюзи
          h2.subtitle.intro-offer__subtitle Добавьте природной роскоши в свой интерьер премиум-класса.
        .intro-offer__left-bottom
          .video-btn
            i
            p Деревянные жалюзи выглядят стильно. Они говорят о высоком статусе и хорошем вкусе владельца.
      .intro-offer__right
        header.intro-offer__header
          .intro-offer__header-left
            .intro-offer__header-left-top
              .stars
                .star
                .star
                .star
                .star
                .star.star--empty
              h3.intro-offer__price-old от 9 555 грн.
            .intro-offer__header-left-bottom
              h2.intro-offer__price от <span>5 190</span> грн.
          .intro-offer__header-right
            .intro-offer__discount
              .intro-offer__discount-text Вызвать<br> замерщика-дизайнера
              .intro-offer__discount-amount Скидка  до 30%
        .intro-offer__main
          p.intro-offer__text
            | Каждый видимый элемент  наших изделий тщательно продуман — даже цепочка управления приятна на ощупь.
            br
            br
            | Но ведь это не главное. Главное — практичность. Мы покрываем их нетоксичным лаком, который защищает от пыли и перепадов температуры. Толщина их планок не менее 3 мм, что позволяет служить жалюзи более 10 лет.
            br
            br
            | Ещё бо́льшее удобство даёт автоматическое управление.
            br
            br
            | Но и это не самое главное. Куда важнее — безопасность. Никаких токсических веществ или тяжелых металлов. Жалюзи антиаллергичны, натуральны. Абсолютная гарантированная безопасность для всей семьи.
        footer.intro-offer__footer
          ul.intro-offer__advantages
            li.intro-offer__advantages-item
              img(src="img/common/intro-offer/intro-offer-advantages-1.svg")
              p Бесплатный замер  и бесплатный монтаж
            li.intro-offer__advantages-item
              img(src="img/common/intro-offer/intro-offer-advantages-2.svg")
              p Фабричная гарантия<br>  на ткань и механизмы — 1 год
            li.intro-offer__advantages-item
              img(src="img/common/intro-offer/intro-offer-advantages-3.svg")
              p Возможен экспресс-вызов замерщика

