section.inner-about-section
  .main-wrapper.main-wrapper--p
    .inner-about
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/roller-blinds-inner/inner-about/inner-about-1.jpg)")
          .inner-about-item__video-btn.video-btn
            i
        .inner-about-item__content
          h2.inner-about-item__title Получите полный контроль над освещением квартиры и пару функциональных бонусов
          p.inner-about-item__text
            | Высокая плотность ткани защищает квартиру от любого яркого и надоедливого света. Теперь вы сами решаете когда и насколько впускать его в свой дом.
            br
            br
            | Никаких взглядов прохожих и бликов на мониторе компьютера. А ещё летом шторы понижают температуру в помещении на несколько градусов , а зимой наоборот сохраняют тепло.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/roller-blinds-inner/inner-about/inner-about-2.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Более 200 вариантов тканей
          .inner-about-item__text
            | Это ещё одно отличие штор от жалюзи. Огромный ассортимент разных фактур и тканей — однотонные, с легкой текстурой и с необычными рисунками.
            br
            br
            | Дизайнер-замерщик поможет уменьшить выбор до 7-10 тканей, идеальных для вашего помещения.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/roller-blinds-inner/inner-about/inner-about-3.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Эта штора вас будет радовать и через 10 лет
          p.inner-about-item__text
            | Край ткани обработан горячим ножом французского производства , что не дает со временем растрепываться краям.
            br
            br
            | Механизм Vegas, алюминиевый вал внутри системы и АВС пластик обеспечивают не только приятный внешний вид, но и продлевают срок эксплуатации.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/roller-blinds-inner/inner-about/inner-about-4.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Простота ухода порадует любую хозяйку
          p.inner-about-item__text
            | Не нужно никакой регулярной стирки, сушки, глажки. Никаких каждодневных протираний от пыли. Ткань пропитана акрилом, антистатическими и пылеотталкивающими средствами.
            br
            br
            | Достаточно один раз в 2-3 месяца протирать обычной влажной салфеткой.

section.btn-section
  .main-wrapper
    a(href="#").btn Вызвать<br> замерщика-дизайнера