section.section.about-1-section
  .main-wrapper.main-wrapper--p

    .about-1
      .about-1__left
        .about-1-content
          h3.subtitle.about-1-content__subtitle &nbsp;
          h2.title.about-1-content__title Целых 4 защиты,
          h3.subtitle.about-1-content__subtitle предотвращающие попадание воды
          p.text.about-1-content__text
            br
            | Пергольная конструкция — это цельное полотно, которое состоит из отдельных, сваренных между собой частей. Гладкая поверхность сверху пергол позволяет свободно скатываться воде.
            br
            br
            | Водосточный желоб с внутренним дренажем отведёт воду, какой бы ливень не шёл. В этом помогает сечение ламелей — исключается любой вариант протечки.
            br
            br
            | Благодаря специальному резиновому уплотнителю, перголы предотвращают попадение воды между профилем направляющей и крышей.
          a(href="#").btn.about-1-content__btn хочу, это практично!
      .about-1__right
        .about-1-blocks
          .about-1-block(style="background-image: url(img/pergolas/about-1/about-1-block-1.jpg)")
            .about-1-block__text Благодаря трёхслойному исполнению ткани и полотна из специального ПВХ, пергольная конструкция полностью непрозрачна, не поддерживает горение и не нагревается на солнце. Ткань армированная, поэтому прекрасно держит форму и не растягивается со временем.
          .about-1-block(style="background-image: url(img/pergolas/about-1/about-1-block-2.jpg)")
            .about-1-block__text Ламели из особого алюминиевого сплава и конструкции с колонной 160х160мм оказывают сопротивление даже мощному ветру.
          .about-1-block(style="background-image: url(img/pergolas/about-1/about-1-block-3.jpg)")
            .about-1-block__text Европейская технология моторбокса позволяет просто, быстро и удобно управлять тканью — мотор вращается со скоростью до 26 об/мин.
