section.section.intro-offer-section
  .main-wrapper.main-wrapper--p
    .intro-offer.intro-offer--green
      .intro-offer__left
        .intro-offer__thumb(style="background-image: url(img/pergolas/intro-offer/intro-offer-thumb.jpg)")
        .intro-offer__left-top
          h1.title-big.intro-offer__title перголы
          h2.subtitle.intro-offer__subtitle Создайте исключительный визуальный и тепловой комфорт под открытым небом.
        .intro-offer__left-bottom
          .video-btn
            i
            p Перголы изготавливаются из алюминия, который не подвержен коррозии. Можно дополнить комплекцию ЛЕД-освещением.
      .intro-offer__right
        header.intro-offer__header
          .intro-offer__header-left
            .intro-offer__header-left-top
              .stars
                .star
                .star
                .star
                .star
                .star.star--empty
              h3.intro-offer__price-old от 2 585 грн.
            .intro-offer__header-left-bottom
              h2.intro-offer__price от <span>1 508</span> грн.
          .intro-offer__header-right
            .intro-offer__discount
              .intro-offer__discount-text Вызвать<br> замерщика-дизайнера
              .intro-offer__discount-amount Скидка  до 30%
        .intro-offer__main
          p.intro-offer__text
            | Перголы можно пристроить к зданию или установить конструкцию отдельно.  Если решите устанавливать отдельно, то это станет отличным решением для балконов, домов с бассейнами, террас, отелей и ресторанов.
            br
            br
            | Закрытые ламели гарантируют полную защиту от любых осадков — солнечных лучей, дождя и ветра. Выдерживают даже ветер до 117км/ч.
            br
            br
            | Этот подвижный тент легко сдвинуть и, например, позагорать днём или полюбоваться звездным небом ночью. Перголы могут быть различной конфигурации и любого цвета. Вся система лёгкая, поэтому возможна установка пергол большого размера.
        footer.intro-offer__footer
          ul.intro-offer__advantages
            li.intro-offer__advantages-item
              img(src="img/common/intro-offer/intro-offer-advantages-1-green.svg")
              p Бесплатный замер  и бесплатный монтаж
            li.intro-offer__advantages-item
              img(src="img/common/intro-offer/intro-offer-advantages-2-green.svg")
              p Фабричная гарантия<br>  на ткань и механизмы — 1 год
            li.intro-offer__advantages-item
              img(src="img/common/intro-offer/intro-offer-advantages-3-green.svg")
              p Возможен экспресс-вызов замерщика

