section.inner-about-section
  .main-wrapper.main-wrapper--p
    .inner-about
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/roman-blinds-inner/inner-about/inner-about-1.jpg)")
          .inner-about-item__video-btn.video-btn
            i
        .inner-about-item__content
          h2.inner-about-item__title Элитные жалюзи для больших окон и фасадных систем
          p.inner-about-item__text
            | Идеально подходит для магазинов, салонов или коттеджей с большими окнами. Очень похожи на римские шторы, поэтому и допускаются максимально возможные размеры.
            br
            br
            | Состоят из двух тканей: прозрачного тюля и плотной жаккардовой ткани, сшитых между собой. Через непрозрачные складки и прозрачные полосы удобно регулировать поток солнечного света.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/roman-blinds-inner/inner-about/inner-about-2.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Имеет ряд эксклюзивных преимуществ:
          .inner-about-item__text
            ul
              li Исключительно прочная антистатическая ткань, изготовлена из 100%-го полиэстера.
              li Снижают вред ультрафиолетового излучения, обеспечивают  хорошую энергоэффективность и прекрасное шумопоглощение.
              li Моноблочное управление с помощью цепочки или дистанционное управление.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/roman-blinds-inner/inner-about/inner-about-3.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Эта штора вас будет радовать и через 10 лет
          p.inner-about-item__text
            | Край ткани обработан горячим ножом французского производства , что не дает со временем растрепываться краям.
            br
            br
            | Механизм Vegas, алюминиевый вал внутри системы и АВС пластик обеспечивают не только приятный внешний вид, но и продлевают срок эксплуатации.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/roman-blinds-inner/inner-about/inner-about-4.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Практичны — легко чистятся, не мнутся, не требуют глажки и не вызывают аллергии
          p.inner-about-item__text
            | Ткань пропитана акрилом, антистатическими и пылеотталкивающими средствами, защищая ее от загрязнений и выгорания.

section.btn-section
  .main-wrapper
    a(href="#").btn Вызвать<br> замерщика-дизайнера