section.inner-about-section
  .main-wrapper.main-wrapper--p
    .inner-about.inner-about--green
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/marquises-horizontal/inner-about/inner-about-1.jpg)")
          .inner-about-item__video-btn.video-btn.video-btn--download.video-btn--green
            i
            p Посмотреть<br> сертификаты качества
        .inner-about-item__content
          h2.inner-about-item__title Используем особо прочные ткани из акриловой нити. Брендирование маркиз.
          p.inner-about-item__text
            | Тентовую ткань усиливают антибактериальной и водоотталкивающей пропиткой. Водостойки и особо прочны. Не выгорают на солнце и сохраняют на 5-7 лет форму и внешний вид.
            br
            br
            | Можно наносить любые изображения и использовать маркизу как вывеску, рекламную площадку.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/marquises-bucket/inner-about/inner-about-2.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Долговечность благодаря невероятному каркасу
          .inner-about-item__text
            | Прочный каркас изготавливается из алюминия или стали с антикоррозийным порошковым покрытием. Надёжность предаёт и сложная конструкция с основанием из металлических профилей с нужным натяжением ткани.
            br
            br
            | Бывают стационарными и складными. Складываются вручную или с помощью электродвигателя.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/marquises-bucket/inner-about/inner-about-3.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Делают вас уникальным и запоминающимся
          p.inner-about-item__text
            | У них отличные декоративные качества — показывают хороший вкус хозяев, подчёркивают красоту здания или же делают незаметным недостатки фасада. Притягивают взгляд прохожих. Придают европейский шик.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/marquises-bucket/inner-about/inner-about-4.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Надёжно защищают от любых проявлений непогоды
          p.inner-about-item__text
            | Окна и фасады меньше загрязняются. Никаких проблем с сильным ветром или снегом. Снижаются расходы на кондиционирование.
            br
            br
            | Идеально подходят для окон сложных форм.
section.btn-section
  .main-wrapper
    a(href="#").btn Вызвать<br> замерщика-дизайнера