.advantages-section {

}

.advantages-slider {

 &.advantages-slider--blue {

  .advantages-slide-inner {

   .title, .subtitle {

    span {
     color: #018DBD;
    }
   }

   .title {
    &:before {
     background: #018DBD;
    }
   }

   .subtitle {
    &:nth-child(2) {
     &:before {
      background: #018DBD;
     }
    }
   }
  }
 }
}

.advantages-slide {

}

.advantages-slide-inner {
 background: no-repeat center / cover;

 > .main-wrapper.main-wrapper--p {
  min-height: 540px;
  padding: 155px 90px 0 650px;
  position: relative;
  @include tablet {
   padding: 150px 90px 30px;
  }
  @include mobile {
   min-height: 320px;
   padding: 50px 0;
  }
  &:before {
   content: '';
   width: 100vw;
   height: 100%;
   display: none;
   background: rgba(255,255,255,0.5);
   position: absolute;
   top: 0;
   @include tablet-mobile {
    display: block;
   }
   @include tablet {
    left: calc(355px - 50vw);
   }
   @include mobile {
    left: calc(155px - 50vw);
   }
  }
 }

 .title, .subtitle, p {
  position: relative;
  z-index: 2;

  span {
   color: #FFA200;
  }
 }

 .title {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  &:before {
   content: '';
   width: 220px;
   height: 1px;
   background: #FFA200;
   position: absolute;
   bottom: 0;
   left: 0;
  }
  &:first-child {
   padding-bottom: 0;
   margin-bottom: 0;
   &:before {
    display: none;
   }
  }
 }

 .subtitle {
  position: relative;
  &:nth-child(2) {
   padding-bottom: 20px;
   margin: 7px 0 20px;
   &:before {
    content: '';
    width: 220px;
    height: 1px;
    background: #FFA200;
    position: absolute;
    bottom: 0;
    left: 0;
   }
  }
 }

 p {
  line-height: 140%;
 }

 &.advantages-slide-inner--center {
  text-align: center;

  .title {
   &:before {
    left: calc(50% - 110px);
   }
  }
 }

 &.advantages-slide-inner--2 {

  > .main-wrapper.main-wrapper--p {
   padding: 60px 90px 0 600px;
   @include tablet {
    padding: 60px 0 0 150px;
   }
   @include mobile {
    padding: 30px 0 60px;
   }
  }
 }
}