section.inner-about-section
  .main-wrapper.main-wrapper--p
    .inner-about.inner-about--green
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/marquises-horizontal/inner-about/inner-about-1.jpg)")
          .inner-about-item__video-btn.video-btn.video-btn--download.video-btn--green
            i
            p Посмотреть<br> сертификаты качества
        .inner-about-item__content
          h2.inner-about-item__title Создают идеальный микроклимат
          p.inner-about-item__text
            | Регулирует свет и тепло. Часть тканей задерживают до 90% солнечной энергии благодаря микровентиляционной структуре и снижают температуру в среднем на 6 градусов. Но полностью не затеняют помещение.
            br
            br
            | Зимой, наоборот, создают воздушную прослойку и не дают выйти теплу из комнаты — экономия на кондиционировании до 60% затрат.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/marquises-vertical/inner-about/inner-about-2.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Полиэфирные ткани не боятся огня, пыли и ветра
          .inner-about-item__text
            | Выдерживают температуру от -40 до +80˚ по С и сильный ветер (3 класс ветроустойчивости) без изменения качества ткани.
            br
            br
            | Кант с молнией помогает зафиксировать обе боковые направляющие. Остается в равномерно натянутом виде даже при ветре до 80 км/час. Можно регулировать степень проветривания.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/marquises-vertical/inner-about/inner-about-3.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Идеальная защита от посторонних взглядов и любопытных насекомых
          p.inner-about-item__text
            | Можно сделать так, что с улицы вас никто не увидит и при этом вы будете видеть всё, что происходит снаружи. Есть разные ткани с разной светопроницаемостью.
            br
            br
            | Защищают от насекомых благодаря отсутствию боковых зазоров.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/marquises-vertical/inner-about/inner-about-4.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Потрясающий вид снаружи
          p.inner-about-item__text
            | Подходят для окон шириной до 7,2 м и высотой до 6 м.
            br
            br
            | Легко подобрать нужный цвет. Можно использовать даже как рекламный носитель.
            br
            br
            | Даже через 10 лет ткань сохраняет свою геометрию.
section.btn-section
  .main-wrapper
    a(href="#").btn Вызвать<br> замерщика-дизайнера