section.inner-about-section
  .main-wrapper.main-wrapper--p
    .inner-about.inner-about--green
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/marquises-horizontal/inner-about/inner-about-1.jpg)")
          .inner-about-item__video-btn.video-btn.video-btn--download.video-btn--green
            i
            p Посмотреть<br> сертификаты качества
        .inner-about-item__content
          h2.inner-about-item__title Уникальные ткани, созданные специально для наружного применения
          p.inner-about-item__text
            | У нас большое количество тканей с разным дизайном и цветом. Сертификаты качества гарантируют отсутствие каких-либо вредных веществ в тканях. То есть при нагревании они ничего не выделяют.
            br
            br
            | Затемняют помещении снаружи и внутри, но не закрывают вид из окна.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/marquises-horizontal/inner-about/inner-about-2.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Долговечны благодаря особым технологиям
          .inner-about-item__text
            | Основа маркизы сделана из высококачественного алюминиевого профиля, покрашенного порошковым методом.
            br
            br
            | Легки в управлении и уходе — раскручивать и скручивать их очень просто.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/marquises-horizontal/inner-about/inner-about-3.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Эстетически привлекательны. Можно использовать как рекламную площадку.
          p.inner-about-item__text
            | Фасад сразу начинает играть новыми красками — формируется красивый антураж, создаётся приятная тень в кафе, ресторанах, террасах.  Гости моментально чувствуют атмосферу уюта.
            br
            br
            | И да, действительно, на ламбрекене можно разместить название магазина, слоган, логотип.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/marquises-horizontal/inner-about/inner-about-4.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Серьезная защита от солнца и дождя.<br> Особенно для больших площадей.
          p.inner-about-item__text
            | Используются в качестве выдвижного тента, подходят для загородных домов, террас, веранд, летних кафе. В офисах препятствуют ещё и появлению бликов на мониторах компьютеров. Маркизы защищают от солнечного света, не дают помещению перегреться и сокращают затраты на кондиционирование. При этом не мешают доступу воздуха и света. Полностью водонепроницаемы.
section.btn-section
  .main-wrapper
    a(href="#").btn Вызвать<br> замерщика-дизайнера