section.section.about-1-section
  .main-wrapper.main-wrapper--p

    .about-1
      .about-1__left
        .about-1-content
          h3.subtitle.about-1-content__subtitle &nbsp;
          h2.title.about-1-content__title Предлагаем вам уникальную ткань для маркиз
          p.text.about-1-content__text
            | Защитное тефлоновое покрытие и обработка Hi-Clean  делает ткань устойчивой к выгоранию и отражает 97% солнечных лучей.
            br
            br
            | Каждая нить бережно покрывается специальными наночастицами, которые способствуют самоочищению ткани и предают водоотталкивающие свойства. Не гниют, не покрываются плесенью и грибками. Хорошо пропускают воздух.
            br
            br
            | Выдерживают большие колебания температуры, не растягиваются, не поддаются усадке.
            br
            br
            | Ткань рекомендуется менять раз в 5-7 лет, а если речь о кафе, магазинах и бутиках, то ещё раньше, до 5 лет максимум.
          a(href="#").btn.about-1-content__btn хочу, это практично!
      .about-1__right
        .about-1-blocks
          .about-1-block(style="background-image: url(img/marquises/about-1/about-1-block-1.jpg)")
            .about-1-block__text Дизайн разнообразен. Вы найдёте варианты великолепно сочетающиеся с архитектурой и цветом сооружения. Или подберёте оттенки, в которых оформлено ваше помещение. Стильное решение для дизайна экстерьера дома. Не требует тщательного ухода.
          .about-1-block(style="background-image: url(img/marquises/about-1/about-1-block-2.jpg)")
            .about-1-block__text Все металлические элементы конструкций защищены от влаги благодаря алюминиевым деталям с антикоррозийным покрытием.
          .about-1-block(style="background-image: url(img/marquises/about-1/about-1-block-3.jpg)")
            .about-1-block__text Есть складные и автоматические маркизы. С помощью датчиков корректируйте угол наклона полотна.
