section.section.products-section
  .main-wrapper.main-wrapper--p

    .home-products-list
      .home-products-slide.home-products-slide--lg.home-products-slide--green
        a(href="#").home-products-slide-inner(style="background-image: url(img/marquises/products/product-item-01.jpg)")
          .home-products-slide-inner__top.home-products-slide-inner__top--1
            h2.home-products-slide-inner__title-big Маркиза горизонтальная
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Самые распространённые виды маркиз. Раскрыть секрет популярности?
            .btn.home-products-slide-inner__btn Подробнее
      .home-products-slide.home-products-slide--lg.home-products-slide--green
        a(href="#").home-products-slide-inner(style="background-image: url(img/marquises/products/product-item-02.jpg)")
          .home-products-slide-inner__top.home-products-slide-inner__top--1
            h2.home-products-slide-inner__title-big Маркиза ковшовая
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Выделите здание и подчеркните экстерьер.
            .btn.home-products-slide-inner__btn Подробнее
      .home-products-slide.home-products-slide--lg.home-products-slide--green
        a(href="#").home-products-slide-inner(style="background-image: url(img/marquises/products/product-item-03.jpg)")
          .home-products-slide-inner__top.home-products-slide-inner__top--1
            h2.home-products-slide-inner__title-big Маркиза вертикальная (рефлексол)
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Ультрасовременная тканевая система солнцезащиты. Как это работает?
            .btn.home-products-slide-inner__btn Подробнее
      .home-products-slide.home-products-slide--lg.home-products-slide--green
        a(href="#").home-products-slide-inner(style="background-image: url(img/marquises/products/product-item-04.jpg)")
          .home-products-slide-inner__top.home-products-slide-inner__top--1
            h2.home-products-slide-inner__title-big Маркиза с падающим локтём
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Для веранд загородных домов, террас ресторанов, магазинов и бутиков.
            .btn.home-products-slide-inner__btn Подробнее
