section.section.common-about
  .main-wrapper.main-wrapper--p
    .common-about-main
      .common-about-main__image(style="background-image: url(img/pleated-blinds/about/about-image.jpg)")
        .video-btn.video-btn--download
          i
          p Скачайте инструкцию по чистке плиссе, если они сильно загрезнились и вы решили вручную их постирать
      .common-about-main__content
        h2.title Легко ли мыть шторы плиссе?
        p
          | Это самые удобные в мире солнцезащитные системы для ухаживания.
          br
          br
          | Первые 1,5-2 года никакой чистки не потребуется — пропитка от пыли и загрезнений отлично справится. Затем во время уборки можно просто периодически протирать влажной губкой или пройтись вдоль складок пылесосом.
