section.section.blinds-description-section(style="background-image: url(img/pleated-blinds/description/description-thumb.jpg)")
 .main-wrapper.main-wrapper--p
  .blinds-description.blinds-description--2
   h2.title Плиссе «День-ночь»
   h3.subtitle инженеры создали уникальную штору с 2 видами ткани на одной направляющей
   .hr-left
   p
    | Днем светлая ткань защищает от солнечных лучей и сохраняет тепло, а вечером тёмная ткань  пропускает нужное вам количество света.
    br
    br
    | Внешне это выглядит как чередование полосок плотного материала с сеткой. Система «День-ночь» просто идеально подходит для спален, гостиных и детских комнат.
   a(href="#").btn хочу плиссе день-ночь!
   .video-btn
    i