section.section.pleated-fabric-type-section
  .main-wrapper.main-wrapper--p
    .pleated-fabric-type
      .pleated-fabric-type__left
        .pleated-fabric-type__content
          h2.title Есть более 200 видов тканей.
          h3.subtitle Подберём любую плотность, цвет, рисунок<br> и даже фактуру!
          p.text
            | Есть имитация под лен, креп, мятую ткань и много других вариантов.
            br
            br
            | Нежные цвета подойдут для спальни, игривые, веселые — для детской, для балконов и лоджий — плиссе станут самым удобным вариантом, а любой офис они сделают респектабельнее и богаче.
      .pleated-fabric-type__right
        .pleated-fabric-type__about
          .pleated-fabric-type__about-item(style="background-image: url(img/pleated-blinds/fabric-type/fabric-type-item-1.jpg)")
            .pleated-fabric-type__about-item-footer
              p Оформите окно любой конфигурации — овальной, квадратной, наклонной, трапециевидной, потолочной, арочной, в виде усиченной пирамиды и т.д. Важно для чердаков, мансард, террас, беседок.
          .pleated-fabric-type__about-item(style="background-image: url(img/pleated-blinds/fabric-type/fabric-type-item-2.jpg)")
            .pleated-fabric-type__about-item-footer
              p Складки на ткани остаются в первоначальном виде долгие годы
          .pleated-fabric-type__about-item(style="background-image: url(img/pleated-blinds/fabric-type/fabric-type-item-3.jpg)")
            .pleated-fabric-type__about-item-footer
              p Фиксируется в любом положении — сверху,<br> снизу, посередине. Приподняв штору<br> до середины, вы пускаете свет, но вас не видно
