section.section.pleated-fabric-catalog-section
  .main-wrapper.main-wrapper--p
    h2.title Каталог тканей плиссе
    h3.subtitle Подберём любую плотность, цвет, рисунок и даже фактуру.
    .pleated-fabric-catalog-nav
      select.pleated-fabric-catalog-nav__item
        option Цвета
      select.pleated-fabric-catalog-nav__item
        option Плотность ткани
      select.pleated-fabric-catalog-nav__item
        option Текстура ткани
      select.pleated-fabric-catalog-nav__item
        option Стоимость
    .pleated-fabric-catalog
      .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
        .pleated-fabric-catalog-item__brightness
        .pleated-fabric-catalog-item__zoom
        .pleated-fabric-catalog-item__hit ХИТ
        .pleated-fabric-catalog-item__footer
          .pleated-fabric-catalog-item__price 957 грн
          a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
      .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
        .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--1
        .pleated-fabric-catalog-item__zoom
        .pleated-fabric-catalog-item__footer
          .pleated-fabric-catalog-item__price 957 грн
          a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
      .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
        .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--2
        .pleated-fabric-catalog-item__zoom
        .pleated-fabric-catalog-item__footer
          .pleated-fabric-catalog-item__price 957 грн
          a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
      .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
        .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--3
        .pleated-fabric-catalog-item__zoom
        .pleated-fabric-catalog-item__footer
          .pleated-fabric-catalog-item__price 957 грн
          a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
      .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
        .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
        .pleated-fabric-catalog-item__zoom
        .pleated-fabric-catalog-item__footer
          .pleated-fabric-catalog-item__price 957 грн
          a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
      .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
        .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
        .pleated-fabric-catalog-item__zoom
        .pleated-fabric-catalog-item__footer
          .pleated-fabric-catalog-item__price 957 грн
          a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
      .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
        .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
        .pleated-fabric-catalog-item__zoom
        .pleated-fabric-catalog-item__footer
          .pleated-fabric-catalog-item__price 957 грн
          a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
      .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
        .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
        .pleated-fabric-catalog-item__zoom
        .pleated-fabric-catalog-item__footer
          .pleated-fabric-catalog-item__price 957 грн
          a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
      .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
        .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
        .pleated-fabric-catalog-item__zoom
        .pleated-fabric-catalog-item__footer
          .pleated-fabric-catalog-item__price 957 грн
          a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
      .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
        .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
        .pleated-fabric-catalog-item__zoom
        .pleated-fabric-catalog-item__footer
          .pleated-fabric-catalog-item__price 957 грн
          a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
      .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
        .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
        .pleated-fabric-catalog-item__zoom
        .pleated-fabric-catalog-item__footer
          .pleated-fabric-catalog-item__price 957 грн
          a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину
      .pleated-fabric-catalog-item(style="background-image: url(img/pleated-blinds/fabric-catalog/fabric-catalog-item-1.jpg)")
        .pleated-fabric-catalog-item__brightness.pleated-fabric-catalog-item__brightness--4
        .pleated-fabric-catalog-item__zoom
        .pleated-fabric-catalog-item__footer
          .pleated-fabric-catalog-item__price 957 грн
          a(href="#").pleated-fabric-catalog-item__cart Добавить в корзину


