section.inner-about-section
  .main-wrapper.main-wrapper--p
    .inner-about
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/attic-blinds-inner/inner-about/inner-about-1.jpg)")
          .inner-about-item__video-btn.video-btn
            i
        .inner-about-item__content
          h2.inner-about-item__title Подберём к любым формам окна
          p.inner-about-item__text
            | Круглые, квадратные, треугольные, ломанные, прямоугольные. Подберём шторы к любой сложной форме и не важно, что скосы нессиметричны.
            br
            br
            | Для удобства мы можем сделать шторы с ручным управлением или с электрическим. Последний вариант идеально подходит, если вам предстоит каждый раз забираться по лестнице, чтобы закрыть/открыть шторы.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/attic-blinds-inner/inner-about/inner-about-2.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Штора не провисает
          .inner-about-item__text
            | За счет пружинного механизма и боковых направляющих шторы плотно прилегают к окну. Сам пружинный механизм спрятан в специальный короб.
            br
            br
            | Поэтому штора всегда находится немного в натянутом положении и не провисает.
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/attic-blinds-inner/inner-about/inner-about-3.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Защищает от усиленного света и направляет световой поток в нужное место
          p.inner-about-item__text
            | В помещение поступает на 30-40% больше света и тепла из-за наклонного положения рам. Поэтому мы и говорим об усиленном свете.
            br
            br
            | Эти шторы надежно защищает от нежелательного света, а когда нужно - направляют свет в нужное направление.
            br
            | Всё это очень легко регулировать!
      .inner-about-item
        .inner-about-item__thumb(style="background-image: url(img/attic-blinds-inner/inner-about/inner-about-4.jpg)")
        .inner-about-item__content
          h2.inner-about-item__title Так же долговечна, как и любая другая рулонная штора
          p.inner-about-item__text
            | Ткань пропитана специальными составами, благодаря чему не выгорает на солнце и не собирает пыль.
            br
            br
            | Основной уход за рулонными шторами – сухая чистка. Всё. Больше ничего не понадобится. Сама ткань не мнется и не топорщится.

section.btn-section
  .main-wrapper
    a(href="#").btn Вызвать<br> замерщика-дизайнера