section.section.indoor-sun-protection-banner
  .main-wrapper.main-wrapper--p
    h1.title-big НАРУЖНЫЕ солнцезащитные системы
    .banner-slider
      .banner-slide(style="background-image: url(img/outdoor-sun-protection/banner/outdoor-sun-protection-banner.jpg)")
      .banner-slide(style="background-image: url(img/outdoor-sun-protection/banner/outdoor-sun-protection-banner.jpg)")
      .banner-slide(style="background-image: url(img/outdoor-sun-protection/banner/outdoor-sun-protection-banner.jpg)")