section.section.indoor-sun-protection-products
  .main-wrapper.main-wrapper--p
    .home-products-list
      .home-products-slide.home-products-slide--lg
        a(href="#").home-products-slide-inner(style="background-image: url(img/outdoor-sun-protection/products/product-01.jpg)")
          .home-products-slide-inner__top
            h2.home-products-slide-inner__title Маркизы
              .home-products-slide-inner__price
                p от<br> 1 588 грн
            .stars
              .star
              .star
              .star
              .star
              .star.star--empty
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Получите страховку от любых проявлений непогоды благодаря навесам с<br> выдвижной конструкцией.
            .btn.home-products-slide-inner__btn Подробнее
      .home-products-slide.home-products-slide--lg
        a(href="#").home-products-slide-inner(style="background-image: url(img/outdoor-sun-protection/products/product-02.jpg)")
          .home-products-slide-inner__top
            h2.home-products-slide-inner__title рефлексолы
              .home-products-slide-inner__price
                p от<br> 2 588 грн
            .stars
              .star
              .star
              .star
              .star
              .star.star--empty
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Установите ультросовременную тканевую систему солнцезащиты.
            .btn.home-products-slide-inner__btn Подробнее
      .home-products-slide.home-products-slide--lg
        a(href="#").home-products-slide-inner(style="background-image: url(img/outdoor-sun-protection/products/product-03.jpg)")
          .home-products-slide-inner__top
            h2.home-products-slide-inner__title рольставни
              .home-products-slide-inner__price
                p от<br> 2 588 грн
            .stars
              .star
              .star
              .star
              .star
              .star.star--empty
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Установите превосходную систему защиты от взломов и непогоды.
            .btn.home-products-slide-inner__btn Подробнее
      .home-products-slide.home-products-slide--lg
        a(href="#").home-products-slide-inner(style="background-image: url(img/outdoor-sun-protection/products/product-04.jpg)")
          .home-products-slide-inner__top
            h2.home-products-slide-inner__title перголы
              .home-products-slide-inner__price
                p от<br> 2 588 грн
            .stars
              .star
              .star
              .star
              .star
              .star.star--empty
          .home-products-slide-inner__bottom
            p.home-products-slide-inner__description Создайте исключительный визуальный и тепловой комфорт под открытым небом.
            .btn.home-products-slide-inner__btn Подробнее
