.btn {
 display: inline-block;
 background: linear-gradient(244.38deg, #0FD3C8 3.62%, #018DBD 82.31%), #018DBD;
 border-radius: 5px;
 font-weight: 500;
 font-size: 11px;
 text-align: center;
 letter-spacing: 0.05em;
 text-transform: uppercase;
 color: #FFFFFF;
 padding: 18px 80px;
 transition: 0.5s;
 cursor: pointer;
 &:hover {
  transform: scale(1.02);
  color: #FFFFFF;
 }

 &.btn--2 {
  padding: 18px 20px;
 }
 &.btn--sm {
  font-size: 9px;
  letter-spacing: 0.03em;
  padding: 7px 30px;
 }
 &.btn--md {
  padding: 13px 25px;
 }

 &.btn--transparent {
  background: transparent;
  border: 1px solid #018DBD;
  color: #018DBD;
 }
}

.btn-transparent {
 display: inline-block;
 background: #FFFFFF;
 border: 1px solid #909090;
 box-sizing: border-box;
 border-radius: 5px;
 font-size: 16px;
 line-height: 20px;
 text-align: center;
 color: #909090;
 padding: 10px 35px;
 transition: 0.5s;
 cursor: pointer;
 &:hover {
  border-color: #018DBD;
  background: #018DBD;
  color: #fff;
 }
}

.btn-section {
 background: url(../img/common/btn-section-bg.svg) no-repeat center left, #FBF5F3;
 padding: 23px 0;
 margin: 12px 0;

 .main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
}

.btn-flex {
 display: flex;
 align-items: center;
 justify-content: center;

 .btn {
  margin: 0 25px;
 }
}

.section-more {

 .btn-flex {
  margin: 40px auto 0;
 }
}

.toggler-btn {
 width: 84px;
 height: 38px;
 background: #FFFFFF;
 border: 1px solid #FFA200;
 box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
 border-radius: 25px;
 position: relative;
 cursor: pointer;
 &:before {
  content: '';
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #FFA200;
  position: absolute;
  top: calc(50% - 14px);
  left: 6px;
  transition: 0.5s;
 }

 &.toggler-btn--right {
  &:before {
   left: calc(100% - 34px);
  }
 }

 &.toggler-btn--green {
  border-color: #3CB54B;
  &:before {
   background: #3CB54B;
  }
 }
}

.video-btn {
 display: flex;
 align-items: center;
 position: relative;
 z-index: 2;
 margin-top: 20px;
 cursor: pointer;
 &:hover {

  i {
   transform: scale(1.03);
  }
 }

 i {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #E60D36;
  transition: 0.5s;
  position: relative;
  &:before {
   content: '';
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 7px 0 7px 10px;
   border-color: transparent transparent transparent #fff;
   position: absolute;
   top: calc(50% - 5px);
   left: calc(50% - 4px);
  }
 }
 p {
  flex: 1;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-left: 25px;
 }

 &.video-btn--download {

  i {
   background: url(../img/common/download-icon.svg) no-repeat center, #FFA200;
   &:before {
    display: none;
   }
  }
 }

 &.video-btn--green {

  i {
   background-color: #3CB54B;
  }
 }
}