.counter {
 width: 14px;
 height: 14px;
 border-radius: 50%;
 background: #E60D36;
 font-size: 10px;
 line-height: 14px;
 color: #FFFFFF;
 text-align: center;
 position: absolute;
}

.logo {
 width: 143px;
 height: 30px;
 background: url(../img/logo.svg) no-repeat center / contain;
}

.title {
 font-weight: 700;
 font-size: 32px;
 line-height: 140%;
 letter-spacing: 0.03em;
 @include tablet {
  font-size: 24px;
 }
 @include mobile {
  font-size: 20px;
 }
}
.title-2 {
 font-weight: 500;
 font-size: 25px;
 line-height: 140%;
 letter-spacing: 0.03em;
 @include mobile {
  font-size: 18px;
 }
}
.title-3 {
 font-size: 22px;
 line-height: 140%;
 letter-spacing: 0.02em;
 @include mobile {
  font-size: 18px;
 }
}
.title-big {
 font-weight: 700;
 font-size: 42px;
 line-height: 120%;
 letter-spacing: 0.05em;
 text-transform: uppercase;
 text-align: center;
 @include tablet {
  font-size: 36px;
 }
 @include mobile {
  font-size: 28px;
 }
}

.subtitle {
 font-size: 19px;
 line-height: 140%;
 letter-spacing: 0.02em;
 @include mobile {
  font-size: 14px;
 }

 span {
  color: #FFA200;
 }
}
.subtitle-2 {
 font-size: 15px;
 line-height: 120%;
 letter-spacing: 0.02em;
}

.text {
 line-height: 140%;
 letter-spacing: 0.02em;
}
.text-2 {
 font-size: 12px;
 line-height: 140%;
 letter-spacing: 0.02em;

 &.text-2--grey {
  color: #909090;
 }
}

.ornament {
 width: 326px;
 height: 306px;
 background: url(../img/common/ornament.svg) no-repeat center / contain;
 position: absolute;
}

.stars {
 display: flex;
 align-items: center;

 .star {
  width: 10px;
  height: 10px;
  background: url(../img/common/star-icon.svg) no-repeat center / contain;
  margin-right: 4px;
  &:last-child {
   margin-right: 0;
  }

  &.star--empty {
   background-image: url(../img/common/star-empty-icon.svg);
  }
 }
}

.hr-left {
 width: 220px;
 height: 1px;
 background: #FFA200;
 margin: 22px 0;
}

.phone-call {

 > a {
  background: url(../img/common/phone-icon-orange.svg) no-repeat center left;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #FFA200;
  padding-left: 18px;
  &:hover {
   color: #FFA200;
  }
 }
}

.phone-call-2 {

 > a {
  background: url(../img/common/phone-icon-blue.svg) no-repeat center left;
  font-size: 19px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #018DBD;
  padding: 2px 0 2px 32px ;
  &:hover {
   color: #018DBD;
  }
 }
}

.zoom-btn {
 width: 26px;
 height: 26px;
 border-radius: 50%;
 background: rgba(255, 255, 255, 0.604346);
 position: absolute;
 left: calc(50% - 13px);
 cursor: pointer;
 &:before {
  content: '';
  width: 21px;
  height: 21px;
  background: url(../img/common/zoom-icon.svg) no-repeat center / contain;
  position: absolute;
  bottom: 0;
  right: 0;
 }
}

.tabs {
 @extend .custom-scroll;
 display: flex;
 background: #FFFFFF;
 border: 1px solid #BDBDBD;
 padding: 12px 0;
 @include mobile {
  overflow-x: auto;
 }
}
.tab {
 flex: 1;
 min-height: 53px;
 display: flex;
 align-items: center;
 justify-content: center;
 border-right: 1px solid #BDBDBD;
 font-size: 14px;
 line-height: 17px;
 text-align: center;
 letter-spacing: 0.03em;
 color: #4F4F4F;
 cursor: pointer;
 position: relative;
 @include mobile {
  flex: initial;
  min-width: 50%;
 }
 &:before {
  content: '';
  width: 70px;
  height: 5px;
  background: #FFA200;
  position: absolute;
  bottom: -12px;
  left: calc(50% - 35px);
  opacity: 0;
  @include mobile {
   display: none;
  }
 }
 &:last-child {
  border-right: 0;
 }

 &.tab--active {
  color: #FFA200;
  &:before {
   opacity: 1;
  }
 }
}

.content-tabs {

}

.content-tab {
 display: none;

 &.content-tab--active {
  display: block;
 }
}

.ul-point {
 display: flex;
 margin-bottom: 11px;
 &:before {
  display: none;
 }
 &:last-child {
  margin-bottom: 0;
 }

 .ul-point__icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 7px;
  position: relative;
  &:before, &:after {
   content: '';
   position: absolute;
  }
 }

 .ul-point__text {
  flex: 1;
  min-height: 15px;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.02em;
 }

 &.ul-point--plus {

  .ul-point__icon {
   background: #FFA200;
   &:before {
    width: 6px;
    height: 1px;
    background: #fff;
    top: calc(50% - 1px);
    left: calc(50% - 3px);
   }
   &:after {
    width: 1px;
    height: 6px;
    background: #fff;
    top: calc(50% - 3px);
    left: calc(50% - 1px);
   }
  }
 }
 &.ul-point--minus {

  .ul-point__icon {
   border: 1px solid #FFA200;
   &:before {
    width: 6px;
    height: 1px;
    background: #FFA200;
    top: calc(50% - 1px);
    left: calc(50% - 3px);
   }
  }
 }

 &.ul-point--green {

  &.ul-point--plus {

   .ul-point__icon {
    background: #3CB54B;
   }
  }
  &.ul-point--minus {

   .ul-point__icon {
    border-color: #3CB54B;
    &:before {
     background: #3CB54B;
    }
   }
  }
 }

 &.ul-point--violet {

  &.ul-point--plus {

   .ul-point__icon {
    background: #A62868;
   }
  }
  &.ul-point--minus {

   .ul-point__icon {
    border-color: #A62868;
    &:before {
     background: #A62868;
    }
   }
  }
 }
}

.info-icon {
 width: 20px;
 height: 20px;
 border-radius: 50%;
 background: url(../img/common/info-icon.svg) no-repeat center / contain;
 position: relative;
 cursor: pointer;
 &:hover {

  .info-panel {
   opacity: 1;
   z-index: 10;
  }
 }

 &.info-icon--green {
  background-image: url(../img/common/info-icon-green.svg);
 }
 &.info-icon--violet {
  background-image: url(../img/common/info-icon-violet.svg);
 }
}

.info-panel {
 width: 240px;
 box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
 border-radius: 4px;
 border: 1px solid #BDBDBD;
 background: #fff;
 padding: 7px 12px;
 font-size: 10px;
 line-height: 130%;
 position: absolute;
 bottom: 25px;
 left: calc(50% - 120px);
 z-index: -1;
 transition: 0.2s;
 opacity: 0;
}

.color-picker {
 display: flex;
 flex-wrap: wrap;
 @include mobile {
  justify-content: center;
 }

 .color-picker__item {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 5px 18px 5px 0;
  position: relative;
  cursor: pointer;
  @include mobile {
   margin: 10px;
  }
  &:before {
   content: '';
   width: 36px;
   height: 36px;
   border-radius: 50%;
   border: 1px solid #FFA200;
   position: absolute;
   top: calc(50% - 18px);
   left: calc(50% - 18px);
   opacity: 0;
   transition: 0.5s;
  }
  &:last-child {
   margin-right: 0;
  }

  &.color-picker__item--active {

   &:before {
    opacity: 1;
   }
  }
 }

 &.color-picker--green {

  .color-picker__item:before {
   border-color: #3CB54B;
  }
 }
}